<template>
    <form @submit.prevent="validate">
        <md-card>
            <md-card-header class="md-card-header-icon md-card-header-blue">
                <div class="card-icon">
                    <md-icon>contacts</md-icon>
                </div>
                <h4 class="title">{{ $t('Older Passports') }}</h4>
            </md-card-header>

            <md-card-content>
                <md-field :class="[{ 'md-valid': !errors.has( $t('document or id') ) && touched.document }, { 'md-error': errors.has( $t('document or id') ) }]">
                    <md-icon>assignment_ind</md-icon>
                    <label for="document">{{ $t('document or id').capitalize() }}</label>
                    <md-input v-model="document" maxlength="10" autocomplete="off" name="document" id="document" :data-vv-name="$t('document or id')" type="text" required v-validate="modelValidations.document">
                    </md-input>
                    <slide-y-down-transition>
                        <md-icon class="error" v-show="errors.has( $t('document') )">close</md-icon>
                    </slide-y-down-transition>
                    <slide-y-down-transition>
                        <md-icon class="success" v-show="!errors.has( $t('document') ) && touched.document">done</md-icon>
                    </slide-y-down-transition>
                </md-field>
            </md-card-content>
            <md-card-actions>
                <md-button native-type="submit" type="submit" :disabled="isLoading" @click.native.prevent="validate" class="md-info">{{ $t("Search") }}</md-button>
            </md-card-actions>
        </md-card>
    </form>
</template>
<script>
    import { SlideYDownTransition } from "vue2-transitions";
    export default {
        name: "OlderPassportForm",
        components: {
            SlideYDownTransition
        },
        data() {
            return {
                document: null,
                touched: {
                    document: false,
                },
                modelValidations: {
                    document: {
                        required: true,
                        numeric: true,
                        min: 3,
                        max: 10
                    }
                }
            };
        },
        methods: {
            validate() {
                this.$validator.validateAll().then(isValid => {
                    this.$emit("on-submit", this.document, isValid);
                });
            }
        },
        watch: {
            document : function () {
                this.touched.document = true;
            }
        }
    };
</script>
<style lang="scss" scoped>
    .md-card .md-card-actions {
        border: none;
    }
</style>
