<template>
  <form @submit.prevent="validate">
    <md-card v-show="isLoading">
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ $t("Create Passport") }}</h4>
        </div>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title">{{ $t('Personal Information') }}</h4>
            <div class="md-layout">
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title">{{ $t('Survey') }}</h4>
            <div class="md-layout">
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <md-card v-show="!isLoading">
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ $t("Create Passport") }}</h4>
        </div>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title">{{ $t('Personal Information') }}</h4>
            <div class="md-layout">
              <div class="md-layout-item">
                <v-autocomplete
                  clearable
                  required
                  :color="color_document_type"
                  v-model.number="passport.document_type"
                  prepend-icon="assignment"
                  :items="document_types"
                  required name="document_type" id="document_type"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('document type')"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('document type').capitalize() "
                ></v-autocomplete>
              </div>
              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('document') ) && touched.document }, { 'md-error': errors.has( $t('document') ) } ]">
                  <md-icon>assignment_ind</md-icon>
                  <label for="document">{{ $t('document').capitalize() }}</label>
                  <md-input
                    v-model.lazy="passport.document"
                    name="document" id="document"
                    :data-vv-name="$t('document')"
                    type="text"
                    maxlength="12"
                    autocomplete="off"
                    required v-validate="modelValidations.number">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('document') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('document') ) && touched.document">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>
            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
                <v-autocomplete
                  clearable
                  required
                  :color="color_supercade"
                  :error="errors.has( $t('supercade') )"
                  v-model.number="passport.supercade"
                  prepend-icon="business"
                  :items="cades"
                  required name="supercade" id="supercade"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('supercade')"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('supercade').capitalize() "
                ></v-autocomplete>
              </div>

              <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
                <v-autocomplete
                  clearable
                  :color="color_retied"
                  :error="errors.has( $t('retired') )"
                  v-model.number="passport.retired"
                  prepend-icon="attach_money"
                  :items="retired_options"
                  required name="retired" id="retired"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('retired')"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  required
                  hide-details
                  :label="$t('retired').capitalize() "
                ></v-autocomplete>
              </div>

              <div class="md-layout-item md-small-size-100 md-xsmall-size-100">

                <v-autocomplete
                  clearable
                  :color="color_gender"
                  :error="errors.has( $t('gender') )"
                  v-model.number="passport.gender"
                  prepend-icon="portrait"
                  :items="gender_options"
                  required name="gender" id="gender"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('gender')"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  required
                  hide-details
                  :label="$t('gender').capitalize()"
                ></v-autocomplete>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('first name') ) && touched.first_name }, { 'md-error': errors.has( $t('first name') ) } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="first_name">{{ $t('first name').capitalize() }}</label>
                  <md-input
                    v-model.trim="passport.first_name"
                    name="first_name" id="first_name"
                    :data-vv-name="$t('first name')"
                    type="text" maxlength="25"
                    autocomplete="off"
                    required v-validate="modelValidations.text">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('first name') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('first name') ) && touched.first_name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('middle name') ) && touched.middle_name }, { 'md-error': errors.has( $t('middle name') ) } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="middle_name">{{ $t('middle name').capitalize() }}</label>
                  <md-input
                    v-model.trim="passport.middle_name"
                    name="middle_name" id="middle_name"
                    :data-vv-name="$t('middle name')"
                    type="text" maxlength="25"
                    autocomplete="off"
                    v-validate="modelValidations.text_not_required">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('middle name') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('middle name') ) && touched.middle_name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('first lastname') ) && touched.first_last_name }, { 'md-error': errors.has( $t('first lastname') ) } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="first_lastname">{{ $t('first lastname').capitalize() }}</label>
                  <md-input
                    v-model.trim="passport.first_last_name"
                    name="first_lastname" id="first_lastname"
                    :data-vv-name="$t('first lastname')"
                    type="text" maxlength="25"
                    autocomplete="off"
                    required v-validate="modelValidations.text">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('first lastname') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('first lastname') ) && touched.first_last_name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('second lastname') ) && touched.second_last_name }, { 'md-error': errors.has( $t('second lastname') ) } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="second_lastname">{{ $t('second lastname').capitalize() }}</label>
                  <md-input
                    v-model.trim="passport.second_last_name"
                    name="second_lastname" id="second_lastname"
                    :data-vv-name="$t('second lastname')"
                    type="text" maxlength="25"
                    autocomplete="off"
                    v-validate="modelValidations.text_not_required">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('second lastname') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('second lastname') ) && touched.second_last_name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
                <v-autocomplete
                  clearable
                  required
                  :color="color_country"
                  v-model.number="passport.country"
                  :disabled="disabled_countries"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('country')"
                  required name="country" id="country"
                  prepend-icon="map"
                  :items="countries"
                  @change="getCities"
                  item-text="name"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('country').capitalize()"
                ></v-autocomplete>
              </div>
              <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
                <v-autocomplete
                  clearable
                  required
                  :color="color_city"
                  v-model.number="passport.city"
                  :disabled="disabled_cities"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('country')"
                  required name="city" id="city"
                  prepend-icon="local_offer"
                  :items="cities"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('city').capitalize()"
                ></v-autocomplete>
              </div>
              <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
                <v-autocomplete
                  clearable
                  required
                  :color="color_location"
                  v-model.number="passport.location"
                  :disabled="disabled_locations"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('location')"
                  required name="location" id="location"
                  prepend-icon="my_location"
                  :items="locations"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('location').capitalize()"
                ></v-autocomplete>
              </div>
            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">

                <v-dialog ref="dialog"
                          v-model="menu"
                          :return-value.sync="passport.birthday"
                          persistent
                          lazy
                          full-width
                          width="290px">
                  <template v-slot:activator="{ on }">
                    <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('birthday') ) && touched.birthday}, {'md-error': errors.has( $t('birthday') )}]">
                      <md-icon>event</md-icon>
                      <label for="birthday">{{ $t('birthday').capitalize() }}</label>
                      <md-input
                        :data-vv-name="$t('birthday')"
                        name="birthday"
                        readonly
                        v-validate="'date_format:yyyy-MM-dd|required'"
                        id="birthday"
                        v-model="passport.birthday"
                        v-on="on"
                        autocomplete="off">
                      </md-input>
                      <slide-y-down-transition>
                        <md-icon class="error" v-show="errors.has( $t('birthday') ) || passport.errors.has('birthday')">close</md-icon>
                      </slide-y-down-transition>
                      <slide-y-down-transition>
                        <md-icon class="success" v-show="!errors.has( $t('birthday') ) && touched.birthday">done</md-icon>
                      </slide-y-down-transition>
                    </md-field>
                  </template>
                  <v-date-picker color="blue lighten-1"
                                 locale="es-es"
                                 :min="moment().subtract(100, 'years').toISOString()"
                                 :max="moment().subtract(18, 'years').toISOString()"
                                 ref="picker" header-color="blue" v-model="passport.birthday" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="save(passport.birthday)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>

              </div>

              <div class="md-layout-item">
                <v-autocomplete
                  clearable
                  required
                  :color="color_stratum"
                  v-model.number="passport.stratum"
                  :disabled="disabled_countries"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('stratum')"
                  required name="stratum" id="stratum"
                  prepend-icon="layers"
                  :items="stratum_options"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('stratum').capitalize()"
                ></v-autocomplete>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('phone') ) && touched.phone }, { 'md-error': errors.has( $t('phone') ) } ]">
                  <md-icon>local_phone</md-icon>
                  <label for="phone">{{ $t('phone').capitalize() }}</label>
                  <md-input
                    v-model="passport.phone"
                    name="phone" id="phone"
                    :data-vv-name="$t('phone')"
                    type="text" maxlength="10"
                    autocomplete="off"
                    v-validate="modelValidations.phone">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('phone') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('phone') ) && touched.phone">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('mobile') ) && touched.mobile }, { 'md-error': errors.has( $t('mobile') ) } ]">
                  <md-icon>stay_current_portrait</md-icon>
                  <label for="mobile">{{ $t('mobile').capitalize() }}</label>
                  <md-input
                    v-model="passport.mobile"
                    name="mobile" id="mobile"
                    :data-vv-name="$t('mobile')"
                    type="text" maxlength="10"
                    autocomplete="off"
                    v-validate="modelValidations.mobile">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('mobile') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('mobile') ) && touched.mobile">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('address') ) && touched.address }, { 'md-error': errors.has( $t('address') ) } ]">
                  <md-icon>home</md-icon>
                  <label for="address">{{ $t('address').capitalize() }}</label>
                  <md-input
                    v-model="passport.address"
                    name="address" id="address"
                    :data-vv-name="$t('address')"
                    type="text" maxlength="100"
                    autocomplete="off"
                    required v-validate="modelValidations.address">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('address') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('address') ) && touched.address">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
                <v-autocomplete
                  clearable
                  required
                  :color="color_hobbies"
                  v-model.number="passport.hobbies"
                  :disabled="disabled_activities"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('hobbies')"
                  required name="hobbies" id="hobbies"
                  prepend-icon="storage"
                  :items="activities"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('hobbies').capitalize()"
                ></v-autocomplete>
              </div>

              <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
                <v-autocomplete
                  clearable
                  required
                  :color="color_eps"
                  v-model.number="passport.eps"
                  :disabled="disabled_activities"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('eps')"
                  required name="eps" id="eps"
                  prepend-icon="local_hospital"
                  :items="eps"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('eps').capitalize()"
                ></v-autocomplete>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('email') ) && touched.email }, { 'md-error': errors.has( $t('email') ) } ]">
                  <md-icon>markunread</md-icon>
                  <label for="email">{{ $t('email').capitalize() }}</label>
                  <md-input
                      v-model="passport.email"
                      type="email"
                      name="email" id="email"
                      :data-vv-name="$t('email')"
                      maxlength="191"
                      autocomplete="off"
                      v-validate="modelValidations.email">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('email') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('email') ) && touched.email">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>
            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :md-counter="true" :class="[ { 'md-valid': !errors.has( $t('observations') ) && touched.observation }, { 'md-error': errors.has( $t('observations') ) } ]">
                  <label for="observations">{{ $t('observations').capitalize() }}</label>
                  <md-textarea
                    v-model="passport.observation"
                    name="observations" id="observations"
                    :data-vv-name="$t('observations')"
                    type="text"
                    maxlength="2500"
                    autocomplete="off">
                  </md-textarea>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title">{{ $t('Survey') }}</h4>
            <div class="md-layout">

              <label class="md-layout-item md-size-100 md-form-label" for="how_know">{{ $t('how_know').capitalize() }}</label>
              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('how_know') ) && touched.question_1 }, { 'md-error': errors.has( $t('how_know') ) }]">
                  <md-icon>record_voice_over</md-icon>
                  <md-select v-model="passport.question_1"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('how_know')"
                             required name="how_know" id="how_know">
                    <md-option value="Por la página del IDRD">Por la página del IDRD</md-option>
                    <md-option value="Por un beneficiario">Por un beneficiario</md-option>
                    <md-option value="Por publicidad del IDRD">Por publicidad del IDRD</md-option>
                    <md-option value="Por una empresa vinculada">Por una empresa vinculada</md-option>
                    <md-option value="Gestión auxiliares de información IDRD">Gestión auxiliares de información IDRD</md-option>
                    <md-option value="Otro">Otro</md-option>
                  </md-select>
                </md-field>
              </div>



            </div>

            <div class="md-layout">
              <label class="md-layout-item md-size-100 md-form-label" for="benefits">{{ $t('benefits').capitalize() }}</label>
              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('benefits') ) && touched.question_2 }, { 'md-error': errors.has( $t('benefits') ) }]">
                  <md-icon>thumb_up</md-icon>
                  <md-select v-model="passport.question_2"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('benefits')"
                             required name="benefits" id="benefits">
                    <md-option value="Si">{{ $t('Yes') }}</md-option>
                    <md-option value="No">{{ $t('No') }}</md-option>
                  </md-select>
                </md-field>
              </div>
            </div>

            <div class="md-layout">

              <label class="md-layout-item md-size-100 md-form-label" for="attention">{{ $t('attention').capitalize() }}</label>
              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('attention') ) && touched.question_3 }, { 'md-error': errors.has( $t('attention') ) }]">
                  <md-icon>assignment</md-icon>
                  <md-select v-model="passport.question_3"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('attention')"
                             required name="attention" id="attention">
                    <md-option value="Excelente">{{ $t('Excellent') }}</md-option>
                    <md-option value="Bueno">{{ $t('Good') }}</md-option>
                    <md-option value="Regular">{{ $t('Regular') }}</md-option>
                    <md-option value="Malo">{{ $t('Bad') }}</md-option>
                    <md-option value="Deficiente">{{ $t('Deficient') }}</md-option>
                  </md-select>
                </md-field>
              </div>

            </div>

            <div class="md-layout">
              <label class="md-layout-item md-size-100 md-form-label"  for="agility">{{ $t('agility').capitalize() }}</label>
              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('agility') ) && touched.question_4 }, { 'md-error': errors.has( $t('agility') ) }]">
                  <md-icon>contacts</md-icon>
                  <md-select v-model="passport.question_4"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('agility')"
                             required name="agility" id="agility">
                    <md-option value="Excelente">{{ $t('Excellent') }}</md-option>
                    <md-option value="Bueno">{{ $t('Good') }}</md-option>
                    <md-option value="Regular">{{ $t('Regular') }}</md-option>
                    <md-option value="Malo">{{ $t('Bad') }}</md-option>
                    <md-option value="Deficiente">{{ $t('Deficient') }}</md-option>
                  </md-select>
                </md-field>
              </div>
            </div>

          </div>

        </div>
      </md-card-content>

      <md-card-actions class="text-center">
        <md-button
          native-type="submit"
          type="submit"
          @click.native.prevent="validate"
          class="md-info"
          >{{ $t('Send') }}</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
import Swal from 'sweetalert2'
import moment from "moment";
import { SlideYDownTransition } from "vue2-transitions";
import {Passport} from "@/models/services/Passport";
import {Document} from "@/models/services/Document";
import {SuperCade} from "@/models/services/SuperCade";
import {Country} from "@/models/services/Country";
import {City} from "@/models/services/City";
import {Location} from "@/models/services/Location";
import {Activity} from "@/models/services/Activity";
import {Eps} from "@/models/services/Eps";
import {InitialData} from "@/models/services/InitialData";

export default {
  name: "PassportForm",
  components: {
    SlideYDownTransition
  },
  data: () => {
    return {
      moment: moment,
      menu: false,
      color_document_type: 'blue',
      color_supercade: 'blue',
      color_retied: 'blue',
      color_gender: 'blue',
      color_country: 'blue',
      color_city: 'blue',
      color_location: 'blue',
      color_stratum: 'blue',
      color_hobbies: 'blue',
      color_eps: 'blue',
      retired_options: [],
      gender_options: [],
      stratum_options: [
        { id: 0, text: 0 },
        { id: 1, text: 1 },
        { id: 2, text: 2 },
        { id: 3, text: 3 },
        { id: 4, text: 4 },
        { id: 5, text: 5 },
        { id: 6, text: 6 },
      ],
      passport: new Passport({
          //Normal Form
          document_type: null,
          document: null,
          supercade: null,
          retired: null,
          gender: null,
          first_name: null,
          middle_name: null,
          first_last_name: null,
          second_last_name: null,
          birthday: null,
          country: null,
          city: null,
          location: null,
          stratum: null,
          address: null,
          phone: null,
          mobile: null,
          hobbies: null,
          eps: null,
          email: null,
          observation: null,
          //Survey
          question_1: null,
          question_2: null,
          question_3: null,
          question_4: null
      }),
      document_types: [],
      disabled_document: true,
      cades: [],
      disabled_cades: true,
      countries: [],
      country: null,
      countries_search: [],
      disabled_countries: false,
      cities: [],
      disabled_cities: true,
      locations: [],
      disabled_locations: true,
      eps: [],
      disabled_eps: true,
      activities: [],
      disabled_activities: true,
      touched: {
          document_type: false,
          document: false,
          supercade: false,
          retired: false,
          gender: false,
          first_name: false,
          middle_name: false,
          first_last_name: false,
          second_last_name: false,
          birthday: false,
          country: false,
          city: false,
          location: false,
          stratum: false,
          address: false,
          phone: false,
          mobile: false,
          hobbies: false,
          eps: false,
          email: false,
          observation: false,
          //Survey
          question_1: false,
          question_2: false,
          question_3: false,
          question_4: false
      },
      modelValidations: {
        required: {
          required: true
        },
        email: {
          email: true
        },
        text: {
          required: true,
          alpha_spaces: true,
          min: 3
        },
        text_not_required: {
          alpha_spaces: true,
          min: 3
        },
        address: {
          required: true,
          min: 8
        },
        phone: {
          min: 7
        },
        mobile: {
          min: 10
        },
        date_format: {
            required: true,
            date_format: 'yyyy-MM-dd'
        },
        number: {
          required: true,
          numeric: true
        },
      }
    };
  },
  created: function() {
    this.axiosInterceptor();
    this.getInitialData();
    this.retired_options = [
      { id: 'Si', text: this.$t('Yes') },
      { id: 'No', text: this.$t('No') }
    ];
    this.gender_options = [
      { id: 1, text: this.$t('male').capitalize() },
      { id: 2, text: this.$t('female').capitalize() }
    ];
  },
  methods: {
    validate() {
      this.$validator.validateAll().then(isValid => {
        this.$emit("on-submit", this.passport, isValid);

        if ( this.errors.has( this.$t('document type') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('document type') ),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('supercade') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('supercade')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('retired') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('retired')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('gender') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('gender')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('country') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('country')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('city') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('city')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('location') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('location')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('stratum') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('stratum')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('activities') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('activities')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('hobbies') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('hobbies')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( this.errors.has( this.$t('email') ) ) {
          this.$notify({
            message: this.errors.first(this.$t('email')),
            icon: "add_alert",
            horizontalAlign: 'top',
            verticalAlign: 'center',
            type: 'danger'
          });
        }

        if ( isValid ) {
          this.passport.errors.clear();
          this.passport.store()
                  .then((response) => {
                    let that = this;
                    Swal.fire({
                      title: that.$t('success'),
                      text: response.data,
                      type: "success",
                      showCancelButton: true,
                      confirmButtonClass: "md-button md-success",
                      cancelButtonClass: "md-button md-danger",
                      confirmButtonText: that.$t('Print'),
                      cancelButtonText: that.$t('Cancel'),
                      buttonsStyling: false
                    }).then(result => {
                      if (result.value) {
                        that.$router.push({ name: 'Print',  params: { id: response.passport } } )
                      }
                    });
                  })
                  .catch((error) => {
                    this.$notify({
                      message: error.message || this.unexpected,
                      icon: "add_alert",
                      horizontalAlign: 'top',
                      verticalAlign: 'center',
                      type: 'danger'
                    });
                  })
        }
      });
    },
    getInitialData: function() {
      this.disabled_document = true;
      this.disabled_cades = true;
      this.disabled_countries = true;
      this.disabled_cities = true;
      this.disabled_locations = true;
      this.disabled_eps = true;
      this.disabled_activities = true;
      this.isLoading = true;
      if ( !this.$store.getters.getStoreCountries && !this.$store.getters.getStoreDocuments && !this.$store.getters.getStoreCades &&
              !this.$store.getters.getStoreCities && !this.$store.getters.getStoreLocations && !this.$store.getters.getStoreEps &&
              !this.$store.getters.getStoreActivities
          ) {
        (new InitialData({})).index()
                .then((response) => {
                  this.$store.dispatch('initial_data_selects', response)
                          .then(() => {
                            this.document_types = response.data.document.map( document => {
                              return {
                                id: document.id,
                                text: `${document.name} - ${document.description}`,
                                all: document
                              }
                            });
                            this.disabled_document = false;
                            this.cades = response.data.supercade.map( document => {
                              return {
                                id: document.id,
                                text: `${document.name}`,
                                all: document
                              }
                            });
                            this.disabled_cades = false;
                            this.countries= response.data.country.map( country => {
                              return {
                                id: country.id,
                                name: `${country.name}`,
                              }
                            });
                            this.disabled_countries = false;
                            this.cities = response.data.city.map( city => {
                              return {
                                id: city.id,
                                text: `${city.name}`,
                                all: city
                              }
                            })
                            this.disabled_cities = false;
                            this.locations = response.data.location.map( location => {
                              return {
                                id: location.id,
                                text: `${location.name}`,
                                all: location
                              }
                            })
                            this.disabled_locations = false;
                            this.eps = response.data.eps.map( (eps) => {
                              return {
                                id: eps.id,
                                text: `${eps.name}`,
                                all: eps
                              }
                            })
                            this.disabled_eps = false;
                            this.activities = response.data.activities.map( (activity) => {
                              return {
                                id: activity.id,
                                text: `${activity.name}`,
                                all: activity
                              }
                            })
                            this.disabled_activities = false;
                          });
                })
                .catch((error) => {
                  this.$notify({
                    message: error.message || this.unexpected,
                    icon: "add_alert",
                    horizontalAlign: 'top',
                    verticalAlign: 'center',
                    type: 'danger'
                  });
                })
      } else {

        if (this.$store.getters.getStoreCountries) {
          this.countries = this.$store.getters.getStoreCountries;
          this.disabled_countries = false;
        } else {
          this.getCountries();
        }
        if ( this.$store.getters.getStoreDocuments) {
          this.document_types = this.$store.getters.getStoreDocuments;
          this.disabled_document = false;
        } else {
          this.getDocumentType();
        }
        if ( this.$store.getters.getStoreCades ) {
          this.cades = this.$store.getters.getStoreCades;
          this.disabled_cades = false;
        } else {
          this.getCades();
        }
        if ( this.$store.getters.getStoreCities ) {
          this.cities = this.$store.getters.getStoreCities;
          this.disabled_cities = false;
        } else {
          this.getCities( 41 );
        }
        if ( this.$store.getters.getStoreLocations ) {
          this.locations = this.$store.getters.getStoreLocations;
          this.disabled_locations = false;
        } else {
          this.getLocations();
        }
        if ( this.$store.getters.getStoreEps ) {
          this.eps = this.$store.getters.getStoreEps;
          this.disabled_eps = false;
        } else {
          this.getEps();
        }
        if ( this.$store.getters.getStoreActivities ) {
          this.activities = this.$store.getters.getStoreActivities;
          this.disabled_activities = false;
        } else {
          this.getActivities();
        }
        this.isLoading = false;
      }
    },
    getDocumentType: function () {
        this.disabled_document = true;
        this.$store.dispatch('reset_document')
                .then(() => {
                  (new Document({})).index()
                          .then((response) => {
                            this.$store.dispatch('set_document', response)
                                    .then(() => {
                                      this.document_types = response.data.map( document => {
                                        return {
                                          id: document.id,
                                          text: `${document.name} - ${document.description}`,
                                          all: document
                                        }
                                      });
                                      this.disabled_document = false;
                                    })
                          })
                          .catch((error) => {
                            this.$notify({
                              message: error.message || this.unexpected,
                              icon: "add_alert",
                              horizontalAlign: 'top',
                              verticalAlign: 'center',
                              type: 'danger'
                            });
                          })
                })
    },
    getCades: function () {
        this.disabled_cades = true;
        this.$store.dispatch('reset_supercade')
                .then(() => {
                  (new SuperCade({})).index()
                          .then((response) => {
                            this.$store.dispatch('set_supercade', response)
                                    .then(() => {
                                      this.cades = response.data.map( document => {
                                        return {
                                          id: document.id,
                                          text: `${document.name}`,
                                          all: document
                                        }
                                      });
                                      this.disabled_cades = false;
                                    })
                          })
                          .catch((error) => {
                            this.$notify({
                              message: error.message || this.unexpected,
                              icon: "add_alert",
                              horizontalAlign: 'top',
                              verticalAlign: 'center',
                              type: 'danger'
                            });
                          })
                })
    },
    getCountries: function () {
        this.disabled_countries = true;
        this.$store.dispatch('reset_country')
                .then(() => {
                  (new Country({})).index()
                          .then((response) => {
                            this.$store.dispatch('set_country', response)
                                    .then(() => {
                                      this.countries= response.data.map( country => {
                                        return {
                                          id: country.id,
                                          name: `${country.name}`,
                                        }
                                      });
                                      this.disabled_countries = false;
                                    })
                          })
                          .catch((error) => {
                            this.$notify({
                              message: error.message || this.unexpected,
                              icon: "add_alert",
                              horizontalAlign: 'top',
                              verticalAlign: 'center',
                              type: 'danger'
                            });
                          })
                })
    },
    onSearch: function ( searchTerm ) {
        this.countries = new Promise(resolve => {
          if (!searchTerm || typeof searchTerm === 'object') {
            resolve(this.countries_search)
          } else {
            const term = searchTerm.toLowerCase();
            resolve(this.countries_search.filter(({ name }) => name.toLowerCase().includes(term)))
          }
        })
    },
    getCities: function (country) {
         if ( country ) {
             this.disabled_cities = true;
             if ( country !== 41 ) {
               (new City(country, {})).index()
                       .then((response) => {
                         this.cities = response.data.map( city => {
                           return {
                             id: city.id,
                             text: `${city.name}`,
                             all: city
                           }
                         })
                         this.disabled_cities = false;
                       })
                       .catch((error) => {
                         this.$notify({
                           message: error.message || this.unexpected,
                           icon: "add_alert",
                           horizontalAlign: 'top',
                           verticalAlign: 'center',
                           type: 'danger'
                         });
                       });
             } else if ( !this.$store.getters.getStoreCities ) {
               this.$store.dispatch('reset_city')
                       .then(() => {
                         (new City(country, {})).index()
                                 .then((response) => {
                                   this.$store.dispatch('set_city', response)
                                           .then(() => {
                                             this.cities = response.data.map( city => {
                                               return {
                                                 id: city.id,
                                                 text: `${city.name}`,
                                                 all: city
                                               }
                                             })
                                             this.disabled_cities = false;
                                           })
                                 })
                                 .catch((error) => {
                                   this.$notify({
                                     message: error.message || this.unexpected,
                                     icon: "add_alert",
                                     horizontalAlign: 'top',
                                     verticalAlign: 'center',
                                     type: 'danger'
                                   });
                                 })
                       })
             } else {
               this.disabled_cities = false;
               this.cities = this.$store.getters.getStoreCities;
             }
         } else {
             this.passport.country = null;
             this.disabled_cities = true;
             this.cities = [];
         }
    },
    getLocations: function () {
        this.disabled_locations = true;
        this.$store.dispatch('reset_location')
                .then(() => {
                  (new Location({})).index()
                          .then((response) => {
                            this.$store.dispatch('set_location', response)
                                    .then(() => {
                                      this.locations = response.data.map( location => {
                                        return {
                                          id: location.id,
                                          text: `${location.name}`,
                                          all: location
                                        }
                                      });
                                      this.disabled_locations = false;
                                    })
                          })
                          .catch((error) => {
                            this.$notify({
                              message: error.message || this.unexpected,
                              icon: "add_alert",
                              horizontalAlign: 'top',
                              verticalAlign: 'center',
                              type: 'danger'
                            });
                          })
                })
    },
    getEps: function () {
      this.disabled_eps = true;
      this.$store.dispatch('reset_eps')
              .then(() => {
                (new Eps({})).index()
                        .then((response) => {
                          this.$store.dispatch('set_eps', response)
                                  .then(() => {
                                    this.eps = response.data.map( (eps) => {
                                      return {
                                        id: eps.id,
                                        text: `${eps.name}`,
                                        all: eps
                                      }
                                    });
                                    this.disabled_eps = false;
                                  })
                        })
                        .catch((error) => {
                          this.$notify({
                            message: error.message || this.unexpected,
                            icon: "add_alert",
                            horizontalAlign: 'top',
                            verticalAlign: 'center',
                            type: 'danger'
                          });
                        })
              })
    },
    getActivities: function () {
      this.disabled_activities = true;
      this.$store.dispatch('reset_activities')
              .then(() => {
                (new Activity({})).index()
                        .then((response) => {
                          this.$store.dispatch('set_activities', response)
                                  .then(() => {
                                    this.activities = response.data.map( (activity) => {
                                      return {
                                        id: activity.id,
                                        text: `${activity.name}`,
                                        all: activity
                                      }
                                    })
                                    this.disabled_activities = false;
                                  })
                        })
                        .catch((error) => {
                          this.$notify({
                            message: error.message || this.unexpected,
                            icon: "add_alert",
                            horizontalAlign: 'top',
                            verticalAlign: 'center',
                            type: 'danger'
                          });
                        })
              })
    },
    refreshData: function () {
      this.$store.dispatch('reset_all_data')
              .then(() => {
                this.getInitialData();
              })
    },
    save: function (date) {
      this.$refs.dialog.save(date);
    }
  },
  watch: {
    menu (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    'passport.country': function(value) {
      this.touched.country = true;
      if (!value) {
        this.passport.country = null;
        this.passport.city = null;
        this.disabled_cities = true;
      }
    },
    'passport.document_type': function () {
        this.touched.document_type = true;
        if ( !this.errors.has( this.$t('document type') ) && this.touched.document_type ) {
          this.color_document_type = 'green';
        } else if ( this.errors.has( this.$t('document type') ) && this.touched.document_type ) {
          this.color_document_type =  'red';
        } else {
          this.color_document_type = 'blue';
        }
    },
    'passport.document': function () {
        this.touched.document = true;
    },
    'passport.supercade': function () {
        this.touched.supercade = true;
      if ( !this.errors.has( this.$t('supercade') ) && this.touched.supercade ) {
        this.color_supercade = 'green';
      } else if ( this.errors.has( this.$t('supercade') ) && this.touched.supercade ) {
        this.color_supercade =  'red';
      } else {
        this.color_supercade = 'blue';
      }
    },
    'passport.retired': function () {
        this.touched.retired = true;
      if ( !this.errors.has( this.$t('retired') ) && this.touched.retired ) {
        this.color_retied = 'green';
      } else if ( this.errors.has( this.$t('retired') ) && this.touched.retired ) {
        this.color_retied =  'red';
      } else {
        this.color_retied = 'blue';
      }
    },
    'passport.gender': function () {
        this.touched.gender = true;
      if ( !this.errors.has( this.$t('gender') ) && this.touched.gender ) {
        this.color_gender = 'green';
      } else if ( this.errors.has( this.$t('gender') ) && this.touched.gender ) {
        this.color_gender =  'red';
      } else {
        this.color_gender = 'blue';
      }
    },
    'passport.first_name': function () {
        this.touched.first_name = true;
    },
    'passport.middle_name': function () {
        this.touched.middle_name = true;
    },
    'passport.first_last_name': function () {
        this.touched.first_last_name = true;
    },
    'passport.second_last_name': function () {
        this.touched.second_last_name = true;
    },
    'passport.birthday': function () {
        this.touched.birthday = true;
    },
    'passport.city': function () {
        this.touched.city = true;
      if ( !this.errors.has( this.$t('city') ) && this.touched.city ) {
        this.color_city = 'green';
      } else if ( this.errors.has( this.$t('city') ) && this.touched.city ) {
        this.color_city =  'red';
      } else {
        this.color_city = 'blue';
      }
    },
    'passport.location': function () {
        this.touched.location = true;
      if ( !this.errors.has( this.$t('location') ) && this.touched.location ) {
        this.color_location = 'green';
      } else if ( this.errors.has( this.$t('location') ) && this.touched.location ) {
        this.color_location =  'red';
      } else {
        this.color_location = 'blue';
      }
    },
    'passport.stratum': function () {
        this.touched.stratum = true;
      if ( !this.errors.has( this.$t('stratum') ) && this.touched.stratum ) {
        this.color_stratum = 'green';
      } else if ( this.errors.has( this.$t('stratum') ) && this.touched.stratum ) {
        this.color_stratum =  'red';
      } else {
        this.color_stratum = 'blue';
      }
    },
    'passport.address': function () {
        this.touched.address = true;
    },
    'passport.phone': function () {
        this.touched.phone = true;
    },
    'passport.mobile': function () {
        this.touched.mobile = true;
    },
    'passport.hobbies': function () {
        this.touched.hobbies = true;
      if ( !this.errors.has( this.$t('hobbies') ) && this.touched.hobbies ) {
        this.color_hobbies = 'green';
      } else if ( this.errors.has( this.$t('hobbies') ) && this.touched.hobbies ) {
        this.color_hobbies =  'red';
      } else {
        this.color_hobbies = 'blue';
      }
    },
    'passport.eps': function () {
        this.touched.eps = true;
      if ( !this.errors.has( this.$t('eps') ) && this.touched.eps ) {
        this.color_eps = 'green';
      } else if ( this.errors.has( this.$t('eps') ) && this.touched.eps ) {
        this.color_eps =  'red';
      } else {
        this.color_eps = 'blue';
      }
    },
    'passport.observation': function () {
        this.touched.observation = true;
    },
    'passport.question_1': function () {
        this.touched.question_1 = true;
    },
    'passport.question_2': function () {
        this.touched.question_2 = true;
    },
    'passport.question_3': function () {
        this.touched.question_3 = true;
    },
    'passport.question_4': function () {
        this.touched.question_4 = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.md-card .md-card-actions {
  border: none;
}

.text-center {
  justify-content: center !important;
}
</style>
