<template>
  <form>
    <md-card v-show="isLoading">
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ $t("Create Passport") }}</h4>
        </div>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title">{{ $t('Personal Information') }}</h4>
            <div class="md-layout">
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title">{{ $t('Survey') }}</h4>
            <div class="md-layout">
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
              <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                <vcl-code></vcl-code>
              </div>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <md-card v-show="!isLoading">
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ $t("Create Passport") }}</h4>
        </div>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">

          <div class="md-layout-item md-size-100 md-small-size-100">
            <md-field>
              <v-autocomplete
                v-model="select"
                :loading="loading"
                :items="items"
                :search-input.sync="search"
                item-text="name"
                item-value="id"
                flat
                hide-no-data
                hide-details
                label="What state are you from?"
              ></v-autocomplete>
            </md-field>
          </div>


          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title">{{ $t('Personal Information') }}</h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <v-autocomplete
                  clearable
                  required
                  color="blue"
                  :error="errors.has( $t('document type') )"
                  v-model.number="passport.document_type"
                  prepend-icon="assignment"
                  :items="document_types"
                  required name="document_type" id="document_type"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('document type')"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('document type').capitalize() "
                ></v-autocomplete>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('document') ) && touched.document }, { 'md-error': errors.has( $t('document') ) } ]">
                  <md-icon>assignment_ind</md-icon>
                  <label for="document">{{ $t('document').capitalize() }}</label>
                  <md-input
                    v-model.lazy="passport.document"
                    name="document" id="document"
                    :data-vv-name="$t('document')"
                    type="text"
                    maxlength="12"
                    autocomplete="off"
                    required v-validate="modelValidations.number">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('document') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('document') ) && touched.document">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item">
                <v-autocomplete
                  clearable
                  required
                  color="blue"
                  :error="errors.has( $t('supercade') )"
                  v-model.number="passport.supercade"
                  prepend-icon="business"
                  :items="cades"
                  required name="supercade" id="supercade"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('supercade')"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  hide-details
                  :label="$t('supercade').capitalize() "
                ></v-autocomplete>
              </div>

              <div class="md-layout-item">

                <v-autocomplete
                  clearable
                  color="blue"
                  :error="errors.has( $t('retired') )"
                  v-model.number="passport.retired"
                  prepend-icon="attach_money"
                  :items="cades"
                  required name="retired" id="retired"
                  v-validate="modelValidations.required"
                  :data-vv-name="$t('retired')"
                  item-text="text"
                  item-value="id"
                  hide-no-data
                  required
                  hide-details
                  :label="$t('retired').capitalize() "
                ></v-autocomplete>

                <md-field :class="[{ 'md-valid': !errors.has( $t('retired') ) && touched.supercade }, { 'md-error': errors.has( $t('retired') ) }]">
                  <md-icon>attach_money</md-icon>
                  <label for="retired">{{ $t('retired').capitalize() }}</label>
                  <md-select v-model="passport.retired"
                             :disables="disabled_cades"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('retired')"
                             required name="retired" id="retired">
                    <md-option value="Si">{{ $t('Yes') }}</md-option>
                    <md-option value="No">{{ $t('No') }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('gender') ) && touched.gender }, { 'md-error': errors.has( $t('gender') ) }]">
                  <md-icon>portrait</md-icon>
                  <label for="gender">{{ $t('gender').capitalize() }}</label>
                  <md-select v-model.number="passport.gender"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('gender')"
                             required name="gender" id="gender">
                    <md-option value="1">{{ $t('male').capitalize() }}</md-option>
                    <md-option value="2">{{ $t('female').capitalize() }}</md-option>
                  </md-select>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('first name') ) && touched.first_name }, { 'md-error': errors.has( $t('first name') ) } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="first_name">{{ $t('first name').capitalize() }}</label>
                  <md-input
                      v-model.trim="passport.first_name"
                      name="first_name" id="first_name"
                      :data-vv-name="$t('first name')"
                      type="text" maxlength="25"
                      autocomplete="off"
                      required v-validate="modelValidations.text">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('first name') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('first name') ) && touched.first_name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('middle name') ) && touched.middle_name }, { 'md-error': errors.has( $t('middle name') ) } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="middle_name">{{ $t('middle name').capitalize() }}</label>
                  <md-input
                      v-model.trim="passport.middle_name"
                      name="middle_name" id="middle_name"
                      :data-vv-name="$t('middle name')"
                      type="text" maxlength="25"
                      autocomplete="off"
                      v-validate="modelValidations.text_not_required">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('middle name') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('middle name') ) && touched.middle_name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('first lastname') ) && touched.first_last_name }, { 'md-error': errors.has( $t('first lastname') ) } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="first_lastname">{{ $t('first lastname').capitalize() }}</label>
                  <md-input
                      v-model.trim="passport.first_last_name"
                      name="first_lastname" id="first_lastname"
                      :data-vv-name="$t('first lastname')"
                      type="text" maxlength="25"
                      autocomplete="off"
                      required v-validate="modelValidations.text">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('first lastname') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('first lastname') ) && touched.first_last_name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('second lastname') ) && touched.second_last_name }, { 'md-error': errors.has( $t('second lastname') ) } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="second_lastname">{{ $t('second lastname').capitalize() }}</label>
                  <md-input
                      v-model.trim="passport.second_last_name"
                      name="second_lastname" id="second_lastname"
                      :data-vv-name="$t('second lastname')"
                      type="text" maxlength="25"
                      autocomplete="off"
                      v-validate="modelValidations.text_not_required">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('second lastname') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('second lastname') ) && touched.second_last_name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('country') ) && touched.country }, { 'md-error': errors.has( $t('country') ) }]">
                  <md-icon>map</md-icon>
                  <label for="country">{{ $t('country').capitalize() }}</label>
                  <md-select v-model.number="passport.country"
                             :disabled="disabled_countries"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('country')"
                             @md-selected="getCities"
                             required name="country" id="country">
                    <md-option v-for="country in countries" :key="country.id" :value="country.id">{{ country.name }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('city') ) && touched.city }, { 'md-error': errors.has( $t('city') ) }]">
                  <md-icon>local_offer</md-icon>
                  <label for="city">{{ $t('city').capitalize() }}</label>
                  <md-select v-model.number="passport.city"
                             :disabled="disabled_cities"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('city')"
                             required name="city" id="city">
                    <md-option v-for="city in cities" :key="city.id" :value="city.id">{{ city.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('location') ) && touched.location }, { 'md-error': errors.has( $t('location') ) }]">
                  <md-icon>my_location</md-icon>
                  <label for="location">{{ $t('location').capitalize() }}</label>
                  <md-select v-model.number="passport.location"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('location')"
                             :disabled="disabled_locations"
                             required name="location" id="location">
                    <md-option v-for="location in locations" :key="location.id" :value="location.id">{{ location.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-datepicker  :data-vv-name="$t('birthdate')"
                                name="birthdate"
                                id="birthdate"
                                :class="[
                              {'md-valid': !errors.has( $t('birthdate') ) && touched.birthdate},
                              {'md-error': errors.has( $t('birthdate') )}]"
                                v-validate="modelValidations.date_format"
                                v-model="passport.birthday" md-immediately required>
                  <label for="birthdate">{{ $t('birthdate').capitalize() }}</label>

                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('birthdate') ) && touched.birthdate">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('birthdate') ) && touched.birthdate">done</md-icon>
                  </slide-y-down-transition>
                </md-datepicker>
              </div>

              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('stratum') ) && touched.stratum }, { 'md-error': errors.has( $t('stratum') ) }]">
                  <md-icon>layers</md-icon>
                  <label for="stratum">{{ $t('stratum').capitalize() }}</label>
                  <md-select v-model.number="passport.stratum"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('stratum')"
                             required name="stratum" id="stratum">
                    <md-option value="0">0</md-option>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('phone') ) && touched.phone }, { 'md-error': errors.has( $t('phone') ) } ]">
                  <md-icon>local_phone</md-icon>
                  <label for="phone">{{ $t('phone').capitalize() }}</label>
                  <md-input
                          v-model="passport.phone"
                          name="phone" id="phone"
                          :data-vv-name="$t('phone')"
                          type="text" maxlength="10"
                          autocomplete="off"
                          v-validate="modelValidations.phone">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('phone') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('phone') ) && touched.phone">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('mobile') ) && touched.mobile }, { 'md-error': errors.has( $t('mobile') ) } ]">
                  <md-icon>stay_current_portrait</md-icon>
                  <label for="mobile">{{ $t('mobile').capitalize() }}</label>
                  <md-input
                          v-model="passport.mobile"
                          name="mobile" id="mobile"
                          :data-vv-name="$t('mobile')"
                          type="text" maxlength="10"
                          autocomplete="off"
                          v-validate="modelValidations.mobile">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('mobile') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('mobile') ) && touched.mobile">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('address') ) && touched.address }, { 'md-error': errors.has( $t('address') ) } ]">
                  <md-icon>home</md-icon>
                  <label for="address">{{ $t('address').capitalize() }}</label>
                  <md-input
                          v-model="passport.address"
                          name="address" id="address"
                          :data-vv-name="$t('address')"
                          type="text" maxlength="100"
                          autocomplete="off"
                          required v-validate="modelValidations.address">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('address') )">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('address') ) && touched.address">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('hobbies') ) && touched.hobbies }, { 'md-error': errors.has( $t('hobbies') ) }]">
                  <md-icon>storage</md-icon>
                  <label for="hobbies">{{ $t('hobbies').capitalize() }}</label>
                  <md-select v-model.number="passport.hobbies"
                             :disabled="disabled_activities"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('hobbies')"
                             required name="hobbies" id="hobbies">
                    <md-option v-for="activity in activities" :key="activity.id" :value="activity.id">{{ activity.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('eps') ) && touched.eps }, { 'md-error': errors.has( $t('eps') ) }]">
                  <md-icon>local_hospital</md-icon>
                  <label for="eps">{{ $t('eps').capitalize() }}</label>
                  <md-select v-model.number="passport.eps"
                             :disabled="disabled_eps"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('eps')"
                             required name="eps" id="eps">
                    <md-option v-for="item in eps" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :md-counter="true" :class="[ { 'md-valid': !errors.has( $t('observations') ) && touched.observation }, { 'md-error': errors.has( $t('observations') ) } ]">
                  <label for="observations">{{ $t('observations').capitalize() }}</label>
                  <md-textarea
                          v-model="passport.observation"
                          name="observations" id="observations"
                          :data-vv-name="$t('observations')"
                          type="text"
                          maxlength="2500"
                          autocomplete="off">
                  </md-textarea>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title">{{ $t('Survey') }}</h4>
            <div class="md-layout">

              <label class="md-layout-item md-size-100 md-form-label" for="how_know">{{ $t('how_know').capitalize() }}</label>
              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('how_know') ) && touched.question_1 }, { 'md-error': errors.has( $t('how_know') ) }]">
                  <md-icon>record_voice_over</md-icon>
                  <md-select v-model="passport.question_1"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('how_know')"
                             required name="how_know" id="how_know">
                    <md-option value="Por la página del IDRD">Por la página del IDRD</md-option>
                    <md-option value="Por un beneficiario">Por un beneficiario</md-option>
                    <md-option value="Por publicidad del IDRD">Por publicidad del IDRD</md-option>
                    <md-option value="Por una empresa vinculada">Por una empresa vinculada</md-option>
                    <md-option value="Gestión de SuperCADE">Gestión de SuperCADE</md-option>
                    <md-option value="Otro">Otro</md-option>
                  </md-select>
                </md-field>
              </div>



            </div>

            <div class="md-layout">
              <label class="md-layout-item md-size-100 md-form-label" for="benefits">{{ $t('benefits').capitalize() }}</label>
              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('benefits') ) && touched.question_2 }, { 'md-error': errors.has( $t('benefits') ) }]">
                  <md-icon>thumb_up</md-icon>
                  <md-select v-model="passport.question_2"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('benefits')"
                             required name="benefits" id="benefits">
                    <md-option value="Si">{{ $t('Yes') }}</md-option>
                    <md-option value="No">{{ $t('No') }}</md-option>
                  </md-select>
                </md-field>
              </div>
            </div>

            <div class="md-layout">

              <label class="md-layout-item md-size-100 md-form-label" for="attention">{{ $t('attention').capitalize() }}</label>
              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('attention') ) && touched.question_3 }, { 'md-error': errors.has( $t('attention') ) }]">
                  <md-icon>assignment</md-icon>
                  <md-select v-model="passport.question_3"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('attention')"
                             required name="attention" id="attention">
                    <md-option value="Excelente">{{ $t('Excellent') }}</md-option>
                    <md-option value="Bueno">{{ $t('Good') }}</md-option>
                    <md-option value="Regular">{{ $t('Regular') }}</md-option>
                    <md-option value="Malo">{{ $t('Bad') }}</md-option>
                    <md-option value="Deficiente">{{ $t('Deficient') }}</md-option>
                  </md-select>
                </md-field>
              </div>

            </div>

            <div class="md-layout">
              <label class="md-layout-item md-size-100 md-form-label"  for="agility">{{ $t('agility').capitalize() }}</label>
              <div class="md-layout-item">
                <md-field :class="[{ 'md-valid': !errors.has( $t('agility') ) && touched.question_4 }, { 'md-error': errors.has( $t('agility') ) }]">
                  <md-icon>contacts</md-icon>
                  <md-select v-model="passport.question_4"
                             v-validate="modelValidations.required"
                             :data-vv-name="$t('agility')"
                             required name="agility" id="agility">
                    <md-option value="Excelente">{{ $t('Excellent') }}</md-option>
                    <md-option value="Bueno">{{ $t('Good') }}</md-option>
                    <md-option value="Regular">{{ $t('Regular') }}</md-option>
                    <md-option value="Malo">{{ $t('Bad') }}</md-option>
                    <md-option value="Deficiente">{{ $t('Deficient') }}</md-option>
                  </md-select>
                </md-field>
              </div>
            </div>

          </div>
        </div>
      </md-card-content>

      <md-card-actions class="text-center">
        <md-button
          native-type="submit"
          @click.native.prevent="validate"
          class="md-info"
          >{{ $t('Send') }}</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
import Swal from 'sweetalert2'
import { SlideYDownTransition } from "vue2-transitions";
import {Passport} from "@/models/services/Passport";
import {Document} from "@/models/services/Document";
import {SuperCade} from "@/models/services/SuperCade";
import {Country} from "@/models/services/Country";
import {City} from "@/models/services/City";
import {Location} from "@/models/services/Location";
import {Activity} from "@/models/services/Activity";
import {Eps} from "@/models/services/Eps";
import {InitialData} from "@/models/services/InitialData";

export default {
  name: "PassportForm",
  components: {
    SlideYDownTransition
  },
  data: () => {
    return {
      //Test

      loading: false,
      items: [],
      search: null,
      select: null,

      //End Test

      passport: new Passport({
          //Normal Form
          document_type: null,
          document: null,
          supercade: null,
          retired: null,
          gender: null,
          first_name: null,
          middle_name: null,
          first_last_name: null,
          second_last_name: null,
          birthday: null,
          country: null,
          city: null,
          location: null,
          stratum: null,
          address: null,
          phone: null,
          mobile: null,
          hobbies: null,
          eps: null,
          observation: null,
          //Survey
          question_1: null,
          question_2: null,
          question_3: null,
          question_4: null
      }),
      document_types: [],
      disabled_document: true,
      cades: [],
      disabled_cades: true,
      countries: [],
      country: null,
      countries_search: [],
      disabled_countries: false,
      cities: [],
      disabled_cities: true,
      locations: [],
      disabled_locations: true,
      eps: [],
      disabled_eps: true,
      activities: [],
      disabled_activities: true,
      touched: {
          document_type: false,
          document: false,
          supercade: false,
          retired: false,
          gender: false,
          first_name: false,
          middle_name: false,
          first_last_name: false,
          second_last_name: false,
          birthday: false,
          country: false,
          city: false,
          location: false,
          stratum: false,
          address: false,
          phone: false,
          mobile: false,
          hobbies: false,
          eps: false,
          observation: false,
          //Survey
          question_1: false,
          question_2: false,
          question_3: false,
          question_4: false
      },
      modelValidations: {
        required: {
          required: true
        },
        text: {
          required: true,
          alpha: true,
          min: 3
        },
        text_not_required: {
          alpha: true,
          min: 3
        },
        address: {
          required: true,
          min: 8
        },
        phone: {
          min: 7
        },
        mobile: {
          min: 10
        },
        date_format: {
            required: true,
            date_format: 'yyyy-MM-dd'
        },
        number: {
          required: true,
          numeric: true
        },
      }
    };
  },
  created: function() {
    this.axiosInterceptor();
    this.getInitialData();
  },
  methods: {
    validate() {
      this.$validator.validateAll().then(isValid => {
        this.$emit("on-submit", this.passport, isValid);
        if ( isValid ) {
          this.passport.errors.clear();
          this.passport.store()
                  .then((response) => {
                    let that = this;
                    Swal.fire({
                      title: that.$t('success'),
                      text: response.data,
                      buttonsStyling: false,
                      confirmButtonClass: "md-button md-success",
                      type: "success"
                    });
                  })
                  .catch((error) => {
                    this.$notify({
                      message: error.message || this.unexpected,
                      icon: "add_alert",
                      horizontalAlign: 'top',
                      verticalAlign: 'center',
                      type: 'danger'
                    });
                  })
        }
      });
    },
    getInitialData: function() {
      this.disabled_document = true;
      this.disabled_cades = true;
      this.disabled_countries = true;
      this.disabled_cities = true;
      this.disabled_locations = true;
      this.disabled_eps = true;
      this.disabled_activities = true;
      this.isLoading = true;
      if ( !this.$store.getters.getStoreCountries && !this.$store.getters.getStoreDocuments && !this.$store.getters.getStoreCades &&
              !this.$store.getters.getStoreCities && !this.$store.getters.getStoreLocations && !this.$store.getters.getStoreEps &&
              !this.$store.getters.getStoreActivities
          ) {
        (new InitialData({})).index()
                .then((response) => {
                  this.$store.dispatch('initial_data_selects', response)
                          .then(() => {
                            this.document_types = response.data.document.map( document => {
                              return {
                                id: document.id,
                                text: `${document.name} - ${document.description}`,
                                all: document
                              }
                            });
                            this.disabled_document = false;
                            this.cades = response.data.supercade.map( document => {
                              return {
                                id: document.id,
                                text: `${document.name}`,
                                all: document
                              }
                            });
                            this.disabled_cades = false;
                            this.countries= response.data.country.map( country => {
                              return {
                                id: country.id,
                                name: `${country.name}`,
                              }
                            });
                            this.disabled_countries = false;
                            this.cities = response.data.city.map( city => {
                              return {
                                id: city.id,
                                text: `${city.name}`,
                                all: city
                              }
                            })
                            this.disabled_cities = false;
                            this.locations = response.data.location.map( location => {
                              return {
                                id: location.id,
                                text: `${location.name}`,
                                all: location
                              }
                            })
                            this.disabled_locations = false;
                            this.eps = response.data.eps.map( (eps) => {
                              return {
                                id: eps.id,
                                text: `${eps.name}`,
                                all: eps
                              }
                            })
                            this.disabled_eps = false;
                            this.activities = response.data.activities.map( (activity) => {
                              return {
                                id: activity.id,
                                text: `${activity.name}`,
                                all: activity
                              }
                            })
                            this.disabled_activities = false;
                          });
                })
                .catch((error) => {
                  this.$notify({
                    message: error.message || this.unexpected,
                    icon: "add_alert",
                    horizontalAlign: 'top',
                    verticalAlign: 'center',
                    type: 'danger'
                  });
                })
      } else {

        if (this.$store.getters.getStoreCountries) {
          this.countries = this.$store.getters.getStoreCountries;
          this.disabled_countries = false;
        } else {
          this.getCountries();
        }
        if ( this.$store.getters.getStoreDocuments) {
          this.document_types = this.$store.getters.getStoreDocuments;
          this.disabled_document = false;
        } else {
          this.getDocumentType();
        }
        if ( this.$store.getters.getStoreCades ) {
          this.cades = this.$store.getters.getStoreCades;
          this.disabled_cades = false;
        } else {
          this.getCades();
        }
        if ( this.$store.getters.getStoreCities ) {
          this.cities = this.$store.getters.getStoreCities;
          this.disabled_cities = false;
        } else {
          this.getCities( 41 );
        }
        if ( this.$store.getters.getStoreLocations ) {
          this.locations = this.$store.getters.getStoreLocations;
          this.disabled_locations = false;
        } else {
          this.getLocations();
        }
        if ( this.$store.getters.getStoreEps ) {
          this.eps = this.$store.getters.getStoreEps;
          this.disabled_eps = false;
        } else {
          this.getEps();
        }
        if ( this.$store.getters.getStoreActivities ) {
          this.activities = this.$store.getters.getStoreActivities;
          this.disabled_activities = false;
        } else {
          this.getActivities();
        }
        this.isLoading = false;
      }
    },
    getDocumentType: function () {
        this.disabled_document = true;
        this.$store.dispatch('reset_document')
                .then(() => {
                  (new Document({})).index()
                          .then((response) => {
                            this.$store.dispatch('set_document', response)
                                    .then(() => {
                                      this.document_types = response.data.map( document => {
                                        return {
                                          id: document.id,
                                          text: `${document.name} - ${document.description}`,
                                          all: document
                                        }
                                      });
                                      this.disabled_document = false;
                                    })
                          })
                          .catch((error) => {
                            this.$notify({
                              message: error.message || this.unexpected,
                              icon: "add_alert",
                              horizontalAlign: 'top',
                              verticalAlign: 'center',
                              type: 'danger'
                            });
                          })
                })
    },
    getCades: function () {
        this.disabled_cades = true;
        this.$store.dispatch('reset_supercade')
                .then(() => {
                  (new SuperCade({})).index()
                          .then((response) => {
                            this.$store.dispatch('set_supercade', response)
                                    .then(() => {
                                      this.cades = response.data.map( document => {
                                        return {
                                          id: document.id,
                                          text: `${document.name}`,
                                          all: document
                                        }
                                      });
                                      this.disabled_cades = false;
                                    })
                          })
                          .catch((error) => {
                            this.$notify({
                              message: error.message || this.unexpected,
                              icon: "add_alert",
                              horizontalAlign: 'top',
                              verticalAlign: 'center',
                              type: 'danger'
                            });
                          })
                })
    },
    getCountries: function () {
        this.disabled_countries = true;
        this.$store.dispatch('reset_country')
                .then(() => {
                  (new Country({})).index()
                          .then((response) => {
                            this.$store.dispatch('set_country', response)
                                    .then(() => {
                                      this.countries= response.data.map( country => {
                                        return {
                                          id: country.id,
                                          name: `${country.name}`,
                                        }
                                      });
                                      this.disabled_countries = false;
                                    })
                          })
                          .catch((error) => {
                            this.$notify({
                              message: error.message || this.unexpected,
                              icon: "add_alert",
                              horizontalAlign: 'top',
                              verticalAlign: 'center',
                              type: 'danger'
                            });
                          })
                })
    },
    onSearch: function ( searchTerm ) {
        this.countries = new Promise(resolve => {
          if (!searchTerm || typeof searchTerm === 'object') {
            resolve(this.countries_search)
          } else {
            const term = searchTerm.toLowerCase();
            resolve(this.countries_search.filter(({ name }) => name.toLowerCase().includes(term)))
          }
        })
    },
    getCities: function (country) {
         if ( country ) {
             this.disabled_cities = true;
             if ( country !== 41 ) {
               (new City(country, {})).index()
                       .then((response) => {
                         this.cities = response.data.map( city => {
                           return {
                             id: city.id,
                             text: `${city.name}`,
                             all: city
                           }
                         })
                         this.disabled_cities = false;
                       })
                       .catch((error) => {
                         this.$notify({
                           message: error.message || this.unexpected,
                           icon: "add_alert",
                           horizontalAlign: 'top',
                           verticalAlign: 'center',
                           type: 'danger'
                         });
                       });
             } else if ( !this.$store.getters.getStoreCities ) {
               this.$store.dispatch('reset_city')
                       .then(() => {
                         (new City(country, {})).index()
                                 .then((response) => {
                                   this.$store.dispatch('set_city', response)
                                           .then(() => {
                                             this.cities = response.data.map( city => {
                                               return {
                                                 id: city.id,
                                                 text: `${city.name}`,
                                                 all: city
                                               }
                                             })
                                             this.disabled_cities = false;
                                           })
                                 })
                                 .catch((error) => {
                                   this.$notify({
                                     message: error.message || this.unexpected,
                                     icon: "add_alert",
                                     horizontalAlign: 'top',
                                     verticalAlign: 'center',
                                     type: 'danger'
                                   });
                                 })
                       })
             } else {
               this.disabled_cities = false;
               this.cities = this.$store.getters.getStoreCities;
             }
         } else {
             this.passport.country = null;
             this.disabled_cities = true;
             this.cities = [];
         }
    },
    getLocations: function () {
        this.disabled_locations = true;
        this.$store.dispatch('reset_location')
                .then(() => {
                  (new Location({})).index()
                          .then((response) => {
                            this.$store.dispatch('set_location', response)
                                    .then(() => {
                                      this.locations = response.data.map( location => {
                                        return {
                                          id: location.id,
                                          text: `${location.name}`,
                                          all: location
                                        }
                                      });
                                      this.disabled_locations = false;
                                    })
                          })
                          .catch((error) => {
                            this.$notify({
                              message: error.message || this.unexpected,
                              icon: "add_alert",
                              horizontalAlign: 'top',
                              verticalAlign: 'center',
                              type: 'danger'
                            });
                          })
                })
    },
    getEps: function () {
      this.disabled_eps = true;
      this.$store.dispatch('reset_eps')
              .then(() => {
                (new Eps({})).index()
                        .then((response) => {
                          this.$store.dispatch('set_eps', response)
                                  .then(() => {
                                    this.eps = response.data.map( (eps) => {
                                      return {
                                        id: eps.id,
                                        text: `${eps.name}`,
                                        all: eps
                                      }
                                    });
                                    this.disabled_eps = false;
                                  })
                        })
                        .catch((error) => {
                          this.$notify({
                            message: error.message || this.unexpected,
                            icon: "add_alert",
                            horizontalAlign: 'top',
                            verticalAlign: 'center',
                            type: 'danger'
                          });
                        })
              })
    },
    getActivities: function () {
      this.disabled_activities = true;
      this.$store.dispatch('reset_activities')
              .then(() => {
                (new Activity({})).index()
                        .then((response) => {
                          this.$store.dispatch('set_activities', response)
                                  .then(() => {
                                    this.activities = response.data.map( (activity) => {
                                      return {
                                        id: activity.id,
                                        text: `${activity.name}`,
                                        all: activity
                                      }
                                    })
                                    this.disabled_activities = false;
                                  })
                        })
                        .catch((error) => {
                          this.$notify({
                            message: error.message || this.unexpected,
                            icon: "add_alert",
                            horizontalAlign: 'top',
                            verticalAlign: 'center',
                            type: 'danger'
                          });
                        })
              })
    },
    refreshData: function () {
      this.$store.dispatch('reset_all_data')
              .then(() => {
                this.getInitialData();
              })
    },

    //test
    queryCountries (v) {
      this.loading = true;
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.countries.filter(e => {
          return (e.name || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        });
        this.loading = false
      }, 500)
    },
    //end test
  },
  watch: {

    //Test

    search (val) {
      val && val !== this.select && this.queryCountries(val)
    },
    //End Test

    country(value) {
      if (!value) {
        this.passport.country = null;
        this.passport.city = null;
        this.disabled_cities = true;
      }
    },
    'touched.document_type': function () {
        this.touched.document_type = true;
    },
    'touched.document': function () {
        this.touched.document = true;
    },
    'touched.supercade': function () {
        this.touched.supercade = true;
    },
    'touched.retired': function () {
        this.touched.retired = true;
    },
    'touched.gender': function () {
        this.touched.gender = true;
    },
    'touched.first_name': function () {
        this.touched.first_name = true;
    },
    'touched.middle_name': function () {
        this.touched.middle_name = true;
    },
    'touched.first_last_name': function () {
        this.touched.first_last_name = true;
    },
    'touched.second_last_name': function () {
        this.touched.second_last_name = true;
    },
    'touched.birthday': function () {
        this.touched.birthday = true;
    },
    'touched.country': function () {
        this.touched.country = true;
    },
    'touched.city': function () {
        this.touched.city = true;
    },
    'touched.location': function () {
        this.touched.location = true;
    },
    'touched.stratum': function () {
        this.touched.stratum = true;
    },
    'touched.address': function () {
        this.touched.address = true;
    },
    'touched.phone': function () {
        this.touched.phone = true;
    },
    'touched.mobile': function () {
        this.touched.mobile = true;
    },
    'touched.hobbies': function () {
        this.touched.hobbies = true;
    },
    'touched.eps': function () {
        this.touched.eps = true;
    },
    'touched.observation': function () {
        this.touched.observation = true;
    },
    'touched.question_1': function () {
        this.touched.question_1 = true;
    },
    'touched.question_2': function () {
        this.touched.question_2 = true;
    },
    'touched.question_3': function () {
        this.touched.question_3 = true;
    },
    'touched.question_4': function () {
        this.touched.question_4 = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.md-card .md-card-actions {
  border: none;
}

.text-center {
  justify-content: center !important;
}
</style>
