<template>
  <div class="md-layout">
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="blue">
        <template slot="header">
          <div class="card-icon">
            <md-icon>assignment_ind</md-icon>
          </div>
          <p class="category">{{ $t('Passport Count') }}</p>
          <h3 class="title">
            <animated-number :value="passports_count"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click="onRefreshPassports"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="danger">
        <template slot="header">
          <div class="card-icon">
            <md-icon>fiber_new</md-icon>
          </div>
          <p class="category">{{ $t('Passport Renew') }}</p>
          <h3 class="title">
            <animated-number :value="passports_renew"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click="onRefreshPassportsRenew"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="green">
        <template slot="header">
          <div class="card-icon">
            <md-icon>event</md-icon>
          </div>
          <p class="category">{{ $t('Created Today') }}</p>
          <h3 class="title">
            <animated-number :value="passports_today"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click="onRefreshPassportsToday"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="warning">
        <template slot="header">
          <div class="card-icon">
            <md-icon>date_range</md-icon>
          </div>
          <p class="category">{{ $t('Created this Month') }}</p>
          <h3 class="title">
            <animated-number :value="passports_month"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click="onRefreshPassportsMonth"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>

    <div class="md-layout-item md-size-100">
      <md-card class="md-card-global-sales">
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>business</md-icon>
          </div>
          <h4 class="title">{{ $t('supercade').capitalize() }}</h4>
          <p class="category text-gray">{{ $t('Created this Month') }}</p>
        </md-card-header>

        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-50">
              <md-table v-model="cades" class="md-table-global-sales">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                  <md-table-cell>
                    <div class="flag">
                      <md-icon>business</md-icon>
                    </div>
                  </md-table-cell>
                  <md-table-cell>{{ item.supercade_name }}</md-table-cell>
                  <md-table-cell> <animated-number :value="item.count"></animated-number> </md-table-cell>
                </md-table-row>
              </md-table>
            </div>
            <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-50">
              <pricing-card icon-color="icon-success">
                <md-icon slot="icon">face</md-icon>
                <h3 slot="title" class="title"> <animated-number :value="passport_mine"></animated-number> </h3>
                <p slot="description" class="card-description">
                  {{ $t('Created by me') }}
                </p>
                <md-button slot="footer" class="md-success md-round" @click="onRefreshPassportsMonth">
                  {{ $t('Reload') }}
                </md-button>
              </pricing-card>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div v-if="$auth.can(['create_general_report', 'print_passport'])" class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50 mx-auto">
      <div class="md-layout">
        <div v-if="$auth.can('print_passport')" class="md-layout-item">
          <pricing-card icon-color="icon-info">
            <md-icon slot="icon">print</md-icon>
            <h3 slot="title" class="title">{{ $t('Print') }}</h3>
            <md-button slot="footer" @click="goToPrint" class="md-info md-round">{{ $t('Go') }}</md-button>
          </pricing-card>
        </div>
        <div v-if="$auth.can(['create_general_report', 'create_renew_report', 'create_own_report'])" class="md-layout-item">
          <pricing-card icon-color="icon-info">
            <md-icon slot="icon">description</md-icon>
            <h3 slot="title" class="title">{{ $t('Reports') }}</h3>
            <md-button slot="footer" @click="goToReports" class="md-info md-round">{{ $t('Go') }}</md-button>
          </pricing-card>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import {
  StatsCard,
  PricingCard,
  AnimatedNumber,
  ChartCard
} from "@/components";
import { Passport } from "@/models/services/Passport";
export default {
  components: {
    StatsCard,
    PricingCard,
    AnimatedNumber,
    ChartCard
  },
  data() {
    return {
      passports_count: 0,
      passports_today: 0,
      passports_month: 0,
      passports_renew: 0,
      passport_mine: 0,
      cades: []
    };
  },
  created: function () {
    this.getPassportCount();
  },
  methods: {
    getPassportCount: function () {
      if ( this.$store.getters.getTotal > 0 ) {
        this.passports_count = this.$store.getters.getTotal;
        this.passports_today = this.$store.getters.getToday;
        this.passports_month = this.$store.getters.getMonthly;
        this.passports_renew = this.$store.getters.getRenew;
        this.passport_mine = this.$store.getters.getMines;
        this.cades = this.$store.getters.getDataCades;
      } else {
        this.passports_count = 0;
        this.passports_today = 0;
        this.passports_month = 0;
        this.passports_renew = 0;
        (new Passport({})).count()
                .then((response) => {
                  this.$store.dispatch('counters', response)
                          .then(() => {
                            this.passports_count = response.data.total;
                            this.passports_renew = response.data.renew;
                            this.passports_today = response.data.today;
                            this.passports_month = response.data.month;
                            this.passport_mine   = response.data.mine;
                            this.cades = response.data.supercades;
                          })
                })
                .catch((error) => {
                  this.$notify({
                    message: error.message || this.unexpected,
                    icon: "add_alert",
                    horizontalAlign: 'top',
                    verticalAlign: 'center',
                    type: 'danger'
                  });
                })
      }
    },
    getPassportRenew: _.throttle(function () {
      this.getPassportCount();
    }, 2000),
    getPassportToday: _.throttle(function () {
      this.getPassportCount();
    }, 2000),
    getPassportMonth: _.throttle(function () {
      this.getPassportCount();
    }, 2000),
    onRefreshPassports: _.throttle(function () {
      this.$store.dispatch('reset_counter')
              .then(() => {
                this.getPassportCount();
              })
    }, 2000),
    onRefreshPassportsRenew: _.throttle(function () {
      this.$store.dispatch('reset_counter')
              .then(() => {
                this.getPassportRenew();
              })
    }, 2000),
    onRefreshPassportsToday: _.throttle(function () {
      this.$store.dispatch('reset_counter')
              .then(() => {
                this.getPassportToday();
              });
    }, 2000),
    onRefreshPassportsMonth: _.throttle(function () {
      this.$store.dispatch('reset_counter')
              .then(() => {
                this.getPassportMonth();
              });
    }, 2000),
    goToPrint: function () {
      this.$router.push({ name: "Print" })
    },
    goToReports: function () {
      if (this.$auth.can('create_general_report') ) {
        this.$router.push({ name: "General Report" })
        return true;
      }else if ( this.$auth.can('create_own_report') ) {
        this.$router.push({ name: "Own Report" })
        return true;
      } else if ( this.$auth.can('create_renew_report') ) {
        this.$router.push({ name: "Renew Report" })
        return true;
      }
    }
  }
};
</script>
