<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
      <form @submit.prevent="validate">
        <md-card>
          <md-card-header class="md-card-header-icon md-card-header-blue">
            <div class="card-icon">
              <md-icon>search</md-icon>
            </div>
            <h4 class="title">{{ $t('Search') }}</h4>
          </md-card-header>
          <md-card-content>
            <md-field :class="[{ 'md-valid': !errors.has( $t('document or id') ) && touched.document }, { 'md-error': errors.has( $t('document or id') ) }]">
              <md-icon>verified_user</md-icon>
              <label for="document">{{ $t('document or id').capitalize() }}</label>
              <md-input v-model="print.document" maxlength="10" autocomplete="off" name="document" id="document" :data-vv-name="$t('document or id')" type="text" required v-validate="print.validation.query">
              </md-input>
              <slide-y-down-transition>
                <md-icon class="error" v-show="errors.has( $t('document or id') )">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('document or id') ) && touched.document">done</md-icon>
              </slide-y-down-transition>
            </md-field>

            <md-switch v-model="old">{{ $t('Find Older Passports') }}</md-switch>

          </md-card-content>
          <div style="padding-top: 24px">
            <md-card-actions>
              <md-button native-type="submit" type="submit" :disabled="isLoading" @click.native.prevent="validate" class="md-info">{{ $t("Search") }}</md-button>
              <md-button native-type="buttom" :disabled="isLoading" @click.native.prevent="onClear" class="md-default">{{ $t("Cancel") }}</md-button>
            </md-card-actions>
          </div>
        </md-card>
      </form>
    </div>

    <div v-if="isLoading" class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto">
      <md-card>
          <md-card-header class="md-card-header-icon md-card-header-blue">
            <div class="card-icon">
              <md-icon>contacts</md-icon>
            </div>
            <h4 class="title">{{ $tc('Passport', 1) }}</h4>
          </md-card-header>
          <md-card-content>
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50 mx-auto" style="padding-top: 24px;">
              <h4 class="title"></h4>
              <vcl-facebook></vcl-facebook>
            </div>
          </md-card-content>
      </md-card>
    </div>

    <div v-if="passport" class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto">
      <md-card>
        <md-card-header class="md-card-header-text md-card-header-blue">
          <div class="card-text">
            <h4 class="title">{{ $tc('Passport', 1) }} #{{ this.passport.id }}</h4>
            <p class="category">{{ $t('created_at').capitalize() }} {{ this.passport.created_at }} </p>
          </div>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item">
              <md-list class="md-double-line">
                <md-list-item>
                  <md-icon>more_horiz</md-icon>
                  <div class="md-list-item-text">
                    <span>{{ this.passport.full_name }}</span>
                    <span>{{ $t('full name').capitalize() }}</span>
                  </div>
                </md-list-item>
                <md-list-item>
                  <md-icon>assignment</md-icon>
                  <div class="md-list-item-text">
                    <span>{{ this.passport.document_type_name }}</span>
                    <span>{{ $t('document type').capitalize() }}</span>
                  </div>
                </md-list-item>
                <md-list-item>
                  <md-icon>assignment_ind</md-icon>
                  <div class="md-list-item-text">
                    <span>{{ this.passport.document }}</span>
                    <span>{{ $t('document').capitalize() }}</span>
                  </div>
                </md-list-item>
                <md-list-item>
                  <md-icon>business</md-icon>
                  <div class="md-list-item-text">
                    <span>{{ this.passport.supercade_name }}</span>
                    <span>{{ $t('supercade').capitalize() }}</span>
                  </div>
                </md-list-item>
              </md-list>
            </div>
            <div class="md-layout-item">
              <form @submit.prevent="onSubmit">

                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('company') ) && touched.company }, { 'md-error': errors.has( $t('company') ) }]">
                  <md-icon>business</md-icon>
                  <label for="company">{{ $t('company').capitalize() }}</label>
                  <md-select v-model.number="form.company"
                             @md-selected="onCompany"
                             :disabled="isLoading"
                             v-validate="'required'"
                             :data-vv-name="$t('company')"
                             required name="company" id="company">
                    <md-option v-for="item in companies" :key="item.id" :value="item.id">{{ item.name }}</md-option>
                  </md-select>
                </md-field>
                <md-field md-clearable  :class="[{ 'md-valid': !errors.has( $t('agreement') ) && touched.agreement }, { 'md-error': errors.has( $t('agreement') ) }]">
                  <md-icon>business</md-icon>
                  <label for="agreement">{{ $t('agreement').capitalize() }}</label>
                  <md-select v-model.number="form.agreement"
                             :disabled="isLoading || agreements.length < 1"
                             v-validate="'required'"
                             :data-vv-name="$t('agreement')"
                             required name="agreement" id="agreement">
                    <md-option v-for="item in agreements" :key="item.id" :value="item.id">{{ item.name }}</md-option>
                  </md-select>
                </md-field>

                <md-button type="submit" @submit.prevent="onSubmit" :disabled="isLoading" class="md-info">
                  <md-icon>question_answer</md-icon>
                  {{ $t("Add Agreements") }}
                </md-button>

              </form>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

  </div>
</template>

<script>
  import {Api} from "@/models/Api";
  import { SlideYDownTransition } from "vue2-transitions";
  import {Passport} from "@/models/services/Passport";
  import {OlderPassport} from "@/models/services/OlderPassport";
  import {Company} from "@/models/services/Company";
  import {Agreements} from "@/models/services/Agreements";
  import {Print} from "@/models/services/Print";

  export default {
    name: "Agreement",
    components: {
      SlideYDownTransition
    },
    data: () => {
      return {
        print: new Print({
          document: null
        }),
        passport: null,
        old: false,
        form: new Agreements(),
        companies: [],
        agreements: [],
        touched: {
          document: false,
          company: false,
          agreement: false,
        },
        validation: {
          denounce: {
            required: false,
            min: 3,
            max: 20
          }
        }
      }
    },
    created: function() {
      this.axiosInterceptor();
      if ( this.$route.params.item !== undefined ) {
        this.passport = this.$route.params.item;
      }
      if (this.$route.params.id !== undefined) {
        this.getPassport( this.$route.params.id );
      }

      this.getCompanies();
    },
    methods: {
      validate() {
        this.$validator.validateAll().then(isValid => {
          this.$emit("on-submit", this.print, isValid);
          if ( isValid ) {
            if ( this.old ) {
              this.getOlderPassport( this.print.document );
            } else {
              this.getPassport( this.print.document );
            }
          }
        });
      },
      getPassport: _.debounce(function (query) {
        this.passport = null;
        (new Passport({})).show( query )
          .then( (response) => {
            this.passport = response.data;
            this.form.passport = response.data.id;
            this.form.beneficiary_id = response.data.user;
            this.form.document = response.data.document;
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          })
      }, 300),
      getOlderPassport: _.debounce(function (query) {
        this.passport = null;
        ( new  OlderPassport({}) ).index({ params: { query: query } })
          .then( (response) => {
            this.passport = response.data;
            this.form.passport = response.data.id;
            this.form.beneficiary_id = response.data.user;
            this.form.document = response.data.document;
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          })
      }, 300),
      getCompanies: _.debounce(function () {
        (new Company()).index()
          .then( (response) => {
            this.companies = response.data;
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          })
      }, 300),
      onCompany: _.debounce(function (id) {
        if ( id ) {
          this.agreement = null;
          (new Agreements(id)).index()
            .then( (response) => {
              this.agreements = response.data;
            })
            .catch((error) => {
              this.$notify({
                message: error.message || this.unexpected,
                icon: "add_alert",
                horizontalAlign: 'top',
                verticalAlign: 'center',
                type: 'danger'
              });
            })
        } else {
          this.agreement = null;
          this.agreements = [];
        }
      }, 300),
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.form.store()
              .then( response => {
                this.$notify({
                  message: response.data,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'success'
                });
              })
              .catch(error => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'top',
                  verticalAlign: 'center',
                  type: 'danger'
                });
              });

          } else {
            this.$notify({
              message: this.$t('Complete the form'),
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          }
        });
      },


      onClear: function () {
        this.passport= null;
        this.old= false;
        this.print.document = null;
      }
    },
    watch: {
      'document': function () {
        this.touched.document = true;
      },
      'form.company': function () {
        this.touched.company = true;
      },
      'form.agreement': function () {
        this.touched.agreement = true;
      },
    }
  }
</script>

<style scoped>

</style>