<template>
  <div class="md-layout">
    <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">{{ $t('Agreements Report') }}</h4>
        </md-card-header>
        <md-card-content>
          <div class="md-layout" >
            <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
              <md-field>
                <md-input type="search" clearable :placeholder="$t('Search')" v-model="query">
                </md-input>
              </md-field>
            </div>
          </div>

          <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="agreements" :expand="expand" item-key="id"
                        :loading="loading" :pagination.sync="pagination" :total-items="total" :rows-per-page-text="$t('Per Page')">

            <template v-slot:progress >
              <md-progress-bar md-mode="indeterminate"></md-progress-bar>
            </template>

            <template v-slot:pageText="props">
              {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
            </template>

            <template v-slot:no-data>
              <md-empty-state
                md-icon="assignment_ind"
                :md-label="$t('empty').capitalize()">
              </md-empty-state>
            </template>

            <template v-slot:items="item">
              <tr>
                <td>
                  <md-button v-if="$auth.can('delete_passport')" class="md-just-icon md-danger md-simple" @click.native="onDelete(item.item.id)">
                    <md-icon>delete</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Delete') }} {{ item.item.id  }}</md-tooltip>
                  </md-button>
                </td>
                <td>{{ item.item.id }}</td>
                <td class="is-right">{{ item.item.company }}</td>
                <td class="is-right">{{ item.item.agreement }}</td>
                <td class="is-right">{{ item.item.user }}</td>
                <td class="is-right">{{ item.item.beneficiary }}</td>
                <td class="is-right">{{ item.item.created_at }}</td>
              </tr>
            </template>

          </v-data-table>

        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
  import Swal from "sweetalert2"
  import {AgreementCompany} from "@/models/services/AgreementCompany";
  import {Agreements} from "@/models/services/Agreements";
  export default {
    name: "AgreementReport",
    data: () => {
      return {
        total: 0,
        pagination: {},
        expand: false,
        agreements: [],
        loading: true,
        query: null,
      }
    },
    created: function () {
      this.getAgreements()
    },
    methods: {

      onDelete: function(id) {
        let self = this;
        Swal.fire({
          type: 'error',
          title: self.$t('Delete'),
          text: self.$t('Are You Sure Delete?'),
          confirmButtonText: self.$t('Delete'),
          confirmButtonClass: "md-button md-success",
          showCancelButton: true,
          showLoaderOnConfirm: true,
          cancelButtonText: self.$t('Cancel'),
          cancelButtonClass: "md-button md-danger",
          buttonsStyling: false,
          preConfirm: () => {
            return (new AgreementCompany( )  )
              .delete( `${id}/user`)
              .then(response => { return response.data })
              .catch( error  => { Swal.showValidationMessage(error.message || self.$t('unexpected failure')) })
          },
          allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
          if (result.value) {
            Swal.fire({
              type: 'success',
              text: `${result.value}`,
            });
            self.getAgreements();
          }
        });
      },

      getAgreements: _.debounce( function (  ) {
        const { sortBy, descending, page, rowsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new Agreements('table')).index({ params: { per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page } })
          .then( (response) => {
            this.agreements = response.data.data;
            this.total = response.data.total;
            this.loading = false;
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          })
      }, 300)
    },
    computed: {
      columns: function () {
        return [
          { text: this.$t('actions').capitalize(), width: '100', sortable: false },
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('company').capitalize(), value: 'company', width: '126', align: 'center', sortable: true },
          { text: this.$t('agreement').capitalize(), value: 'agreement', width: '126', align: 'center', sortable: true },
          { text: this.$t('Official').capitalize(), value: 'user', width: '200', align: 'center', sortable: true },
          { text: this.$t('beneficiary').capitalize(), value: 'beneficiary', width: '300', align: 'center', sortable: true },
          { text: this.$t('created_at').capitalize(), value: 'created_at', width: '300', align: 'center', sortable: true },
        ];
      },
    },
    watch: {
      query: function () {
        this.getAgreements();
      },
      pagination: {
        handler () {
          this.getAgreements();
        },
        deep: true
      }
    },
  }
</script>

<style scoped>

</style>