<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
      <form @submit.prevent="validate" data-vv-scope="form-1">
        <md-card>
          <md-card-header class="md-card-header-icon md-card-header-blue">
            <div class="card-icon">
              <md-icon>domain</md-icon>
            </div>
            <h4 class="title">{{ $t('company').capitalize() }}</h4>
          </md-card-header>
          <md-card-content>
            <md-field :class="[{ 'md-valid': !errors.has( $t('company') ) && touched.company }, { 'md-error': errors.has( $t('company') ) }]">
              <md-icon>verified_user</md-icon>
              <label for="document">{{ $t('company').capitalize() }}</label>
              <md-input v-model="form.company" maxlength="70" autocomplete="off" name="document" id="document" :data-vv-name="$t('company')" type="text" required v-validate="form.validations.text">
              </md-input>
              <slide-y-down-transition>
                <md-icon class="error" v-show="errors.has( $t('company') )">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('company') ) && touched.company">done</md-icon>
              </slide-y-down-transition>
            </md-field>
          </md-card-content>
          <div style="padding-top: 24px">
            <md-card-actions>
              <md-button native-type="submit" type="submit" :disabled="isLoading" @click.native.prevent="validate" class="md-info">{{ $t("Send") }}</md-button>
              <md-button native-type="buttom" :disabled="isLoading" @click.native.prevent="onClear" class="md-default">{{ $t("Cancel") }}</md-button>
            </md-card-actions>
          </div>
        </md-card>
      </form>
    </div>
    <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
      <form @submit.prevent="onSubmit" data-vv-scope="form-2">
        <md-card>
          <md-card-header class="md-card-header-icon md-card-header-blue">
            <div class="card-icon">
              <md-icon>domain</md-icon>
            </div>
            <h4 class="title">{{ $t('agreement').capitalize() }}</h4>
          </md-card-header>
          <md-card-content>
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('company_id') ) && touched.company_id }, { 'md-error': errors.has( $t('company_id') ) }]">
              <md-icon>business</md-icon>
              <label for="company_id">{{ $t('company_id').capitalize() }}</label>
              <md-select v-model.number="agreement.company_id"
                         :disabled="isLoading"
                         v-validate="'required'"
                         :data-vv-name="$t('company_id')"
                         required name="company_id" id="company_id">
                <md-option v-for="item in companies" :key="item.id" :value="item.id">{{ item.name }}</md-option>
              </md-select>
            </md-field>
            <md-field :class="[{ 'md-valid': !errors.has( $t('agreement') ) && touched.agreement }, { 'md-error': errors.has( $t('agreement') ) }]">
              <md-icon>verified_user</md-icon>
              <label for="document">{{ $t('agreement').capitalize() }}</label>
              <md-input v-model="agreement.agreement" maxlength="70" autocomplete="off" name="agreement" id="agreement" :data-vv-name="$t('agreement')" type="text" required v-validate="agreement.validations.text">
              </md-input>
              <slide-y-down-transition>
                <md-icon class="error" v-show="errors.has( $t('agreement') )">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('agreement') ) && touched.agreement">done</md-icon>
              </slide-y-down-transition>
            </md-field>
          </md-card-content>
          <div style="padding-top: 24px">
            <md-card-actions>
              <md-button native-type="submit" type="submit" :disabled="isLoading" @click.native.prevent="onSubmit" class="md-info">{{ $t("Send") }}</md-button>
              <md-button native-type="buttom" :disabled="isLoading" @click.native.prevent="onClear" class="md-default">{{ $t("Cancel") }}</md-button>
            </md-card-actions>
          </div>
        </md-card>
      </form>
    </div>

    <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">{{ $t('Agreements') }}</h4>
        </md-card-header>
        <md-card-content>
          <div class="md-layout" >
            <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
              <md-field>
                <md-input type="search" clearable :placeholder="$t('Search')" v-model="query">
                </md-input>
              </md-field>
            </div>
          </div>

          <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="agreements" :expand="expand" item-key="id"
                        :loading="loading" :pagination.sync="pagination" :total-items="total" :rows-per-page-text="$t('Per Page')">

            <template v-slot:progress >
              <md-progress-bar md-mode="indeterminate"></md-progress-bar>
            </template>

            <template v-slot:pageText="props">
              {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
            </template>

            <template v-slot:no-data>
              <md-empty-state
                md-icon="assignment_ind"
                :md-label="$t('empty').capitalize()">
              </md-empty-state>
            </template>

            <template v-slot:items="item">
              <tr>
                <td>
                  <md-button v-if="$auth.can('delete_passport')" class="md-just-icon md-warning md-simple" @click.native="onUpdate(item.item)">
                    <md-icon>edit</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Edit') }} {{ item.item.id  }}</md-tooltip>
                  </md-button>
                  <md-button v-if="$auth.can('delete_passport')" class="md-just-icon md-danger md-simple" @click.native="onDelete(item.item.id)">
                    <md-icon>delete</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Delete') }} {{ item.item.id  }}</md-tooltip>
                  </md-button>
                </td>
                <td>{{ item.item.id }}</td>
                <td class="is-right">{{ item.item.company }}</td>
                <td class="is-right">{{ item.item.agreement }}</td>
                <td class="is-right">{{ item.item.created_at }}</td>
              </tr>
            </template>

          </v-data-table>

        </md-card-content>
      </md-card>
    </div>

    <md-dialog :md-close-on-esc="false" :md-click-outside-to-close="false" :md-active.sync="showDialog">
      <md-dialog-title>{{ $t('Edit').capitalize() }} {{ $t('agreement').capitalize() }}</md-dialog-title>

      <form @submit.prevent="update" data-vv-scope="form-3">
        <md-dialog-content>
          <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('company_id') ) && touched.company_id }, { 'md-error': errors.has( $t('company_id') ) }]">
            <md-icon>business</md-icon>
            <label for="company_id">{{ $t('company_id').capitalize() }}</label>
            <md-select v-model.number="agreement.company_id"
                       :disabled="isLoading"
                       v-validate="'required'"
                       :data-vv-name="$t('company_id')"
                       required name="company_id" id="company_id">
              <md-option v-for="item in companies" :key="item.id" :value="item.id">{{ item.name }}</md-option>
            </md-select>
          </md-field>
          <md-field :class="[{ 'md-valid': !errors.has( $t('agreement') ) && touched.agreement }, { 'md-error': errors.has( $t('agreement') ) }]">
            <md-icon>verified_user</md-icon>
            <label for="document">{{ $t('agreement').capitalize() }}</label>
            <md-input v-model="agreement.agreement" maxlength="70" autocomplete="off" name="agreement" id="agreement" :data-vv-name="$t('agreement')" type="text" required v-validate="agreement.validations.text">
            </md-input>
            <slide-y-down-transition>
              <md-icon class="error" v-show="errors.has( $t('agreement') )">close</md-icon>
            </slide-y-down-transition>
            <slide-y-down-transition>
              <md-icon class="success" v-show="!errors.has( $t('agreement') ) && touched.agreement">done</md-icon>
            </slide-y-down-transition>
          </md-field>
        </md-dialog-content>

        <md-dialog-actions>
          <md-button native-type="submit" type="submit" :disabled="isLoading" @click.native.prevent="update" class="md-info">{{ $t("Send") }}</md-button>
          <md-button native-type="buttom" :disabled="isLoading" @click.native.prevent="onClear" class="md-default">{{ $t("Cancel") }}</md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>

  </div>
</template>

<script>
  import Swal from "sweetalert2"
  import {Company} from "@/models/services/Company";
  import {AgreementCompany} from "@/models/services/AgreementCompany";
  import { SlideYDownTransition } from "vue2-transitions";

  export default {
    name: "CreateAgreement",
    components: {
      SlideYDownTransition
    },
    data: () => ({
      showDialog: false,
      form: new Company(),
      agreement: new AgreementCompany(),
      agreement_id: null,

      companies: [],
      total: 0,
      pagination: {},
      expand: false,
      agreements: [],
      loading: true,
      query: null,
      touched: {
        company: false,
        agreement: false,
        company_id: false
      }
    }),
    created: function () {
      this.getCompanies();
      this.getAgreements()
    },
    methods: {
      validate() {
        this.$validator.validateAll('form-1').then( isValid => {
          if ( isValid ) {
            this.form.store()
              .then( response => {
                this.$notify({
                  message: response.data,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'success'
                });
              })
              .then( () => this.getCompanies() )
              .catch(error => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'top',
                  verticalAlign: 'center',
                  type: 'danger'
                });
              });

          } else {
            this.$notify({
              message: this.$t('Complete the form'),
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          }
        })
      },
      onSubmit() {
        this.$validator.validateAll('form-2').then( isValid => {
          if ( isValid ) {
            this.agreement.store()
              .then( response => {
                this.$notify({
                  message: response.data,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'success'
                });
              })
              .then(() => this.getAgreements())
              .catch(error => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'top',
                  verticalAlign: 'center',
                  type: 'danger'
                });
              });

          } else {
            this.$notify({
              message: this.$t('Complete the form'),
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          }
        })
      },
      onClear: function () {
        this.agreement_id = null;
        this.form.company = null;
        this.agreement.company_id = null;
        this.agreement.agreement = null;
        this.showDialog = false;
      },
      onDelete: function(id) {
        let self = this;
        Swal.fire({
          type: 'error',
          title: self.$t('Delete'),
          text: self.$t('Are You Sure Delete?'),
          confirmButtonText: self.$t('Delete'),
          confirmButtonClass: "md-button md-success",
          showCancelButton: true,
          showLoaderOnConfirm: true,
          cancelButtonText: self.$t('Cancel'),
          cancelButtonClass: "md-button md-danger",
          buttonsStyling: false,
          preConfirm: () => {

            return (new AgreementCompany()).delete( id )
              .then(response => { return response.data })
              .catch( error  => { Swal.showValidationMessage(error.message || self.$t('unexpected failure')) })
          },
          allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
          if (result.value) {
            Swal.fire({
              type: 'success',
              text: `${result.value}`,
            });
            self.getAgreements();
          }
        });
      },

      onUpdate: function (data) {
        this.agreement_id = data.id;
        this.agreement.company_id = data.company_id;
        this.agreement.agreement  = data.agreement;
        this.showDialog = true;
      },
      update: function () {
        this.$validator.validateAll('form-3').then( isValid => {
          if (isValid) {
            this.agreement.update( this.agreement_id )
              .then( response => {
                this.$notify({
                  message: response.data,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'success'
                });
              })
              .then(() => this.getAgreements())
              .then(() => this.onCloseModal())
              .catch(error => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'top',
                  verticalAlign: 'center',
                  type: 'danger'
                });
              });
          }
        })
      },
      onCloseModal: function (){
        this.agreement_id = null;
        this.showDialog = true;
      },

      getCompanies: _.debounce(function () {
        (new Company()).index()
          .then( (response) => {
            this.companies = response.data;
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          })
      }, 300),
      getAgreements: _.debounce( function (  ) {
        const { sortBy, descending, page, rowsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new Company()).table({ params: { per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page } })
          .then( (response) => {
            this.agreements = response.data.data;
            this.total = response.data.total;
            this.loading = false;
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          })
      }, 300)
    },
    computed: {
      columns: function () {
        return [
          { text: this.$t('actions').capitalize(), width: '100', sortable: false },
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('company').capitalize(), value: 'company', width: '126', align: 'center', sortable: true },
          { text: this.$t('agreement').capitalize(), value: 'agreement', width: '126', align: 'center', sortable: true },
          { text: this.$t('created_at').capitalize(), value: 'created_at', width: '300', align: 'center', sortable: true },
        ];
      },
    },
    watch: {
      'touched.company': function () {
        this.touched.company = true
      },
      'touched.agreement': function () {
        this.touched.agreement = true
      },
      'touched.company_id': function () {
        this.touched.company_id = true
      },
      query: function () {
        this.getAgreements();
      },
      pagination: {
        handler () {
          this.getAgreements();
        },
        deep: true
      }
    }
  }
</script>

<style scoped>

</style>