<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
      <older-passport-form @on-submit="onSubmit"></older-passport-form>
    </div>

    <div class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <div class="card-icon">
            <md-icon>contacts</md-icon>
          </div>
          <h4 class="title">{{ $t('Result') }}</h4>
        </md-card-header>

        <md-card-content>
          <div v-if="isLoading" class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50 mx-auto">
            <h4 class="title"></h4>
            <vcl-facebook></vcl-facebook>
          </div>
          <div v-if="passport" class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50 mx-auto">
            <md-card>
              <md-card-header class="md-card-header-text md-card-header-warning">
                <div class="card-text">
                  <h4 class="title">{{ $tc('Passport', 1) }} #{{ this.passport.id }}</h4>
                  <p class="category">{{ $t('created_at').capitalize() }} {{ this.passport.created_at }} </p>
                </div>
              </md-card-header>
              <md-card-content>
                <md-list class="md-double-line">
                  <md-list-item>
                    <md-icon>more_horiz</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.full_name }}</span>
                      <span>{{ $t('full name').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>assignment</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.document_type_name }}</span>
                      <span>{{ $t('document type').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>assignment_ind</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.document }}</span>
                      <span>{{ $t('document').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>business</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.supercade_name }}</span>
                      <span>{{ $t('supercade').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>my_location</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.location_name }}</span>
                      <span>{{ $t('location').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>clear_all</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.stratum }}</span>
                      <span>{{ $t('stratum').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>money</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.retired }}</span>
                      <span>{{ $t('retired').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>face</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.gender_name }}</span>
                      <span>{{ $t('gender').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>event</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.birthday }}</span>
                      <span>{{ $t('birthday').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>map</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.country_name }}</span>
                      <span>{{ $t('country').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>local_offer</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.city_name }}</span>
                      <span>{{ $t('city').capitalize() }}</span>
                    </div>
                  </md-list-item>
                </md-list>
                <md-list class="md-double-line">
                  <md-list-item>
                    <md-icon>home</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.address }}</span>
                      <span>{{ $t('address').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>local_phone</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.phone }}</span>
                      <span>{{ $t('phone').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>stay_current_portrait</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.mobile }}</span>
                      <span>{{ $t('mobile').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>storage</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.hobbies_name }}</span>
                      <span>{{ $t('hobbies').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>local_hospital</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.eps_name }}</span>
                      <span>{{ $t('eps').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>description</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.observation }}</span>
                      <span>{{ $t('observation').capitalize() }}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>record_voice_over</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.question_1 }}</span>
                      <span>{{ $t('Question').capitalize() }} 1</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>thumb_up</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.question_2 }}</span>
                      <span>{{ $t('Question').capitalize() }} 2</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>assignment</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.question_3 }}</span>
                      <span>{{ $t('Question').capitalize() }} 3</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>contacts</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.question_4 }}</span>
                      <span>{{ $t('Question').capitalize() }} 4</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>face</md-icon>
                    <div class="md-list-item-text">
                      <span>{{ this.passport.user_cade_name }}</span>
                      <span>{{ $t('Official').capitalize() }}</span>
                    </div>
                  </md-list-item>
                </md-list>
              </md-card-content>
            </md-card>
          </div>
        </md-card-content>

        <md-card-actions v-if="passport">
          <md-button native-type="submit" v-if="$auth.can('create_or_edit_passport')" :disabled="isLoading" @click.native.prevent="onEdit" class="md-info">{{
            $t("Edit") }}
          </md-button>
          <md-button native-type="submit" v-if="$auth.can('print_passport')" :disabled="isLoading" @click.native.prevent="onPrint" class="md-success">{{
            $t("Print") }}
          </md-button>
          <md-button native-type="delete" v-if="$auth.can('delete_passport')" :disabled="isLoading" @click.native.prevent="onDelete" class="md-danger">{{
            $t("Passport Delete") }}
          </md-button>
        </md-card-actions>
      </md-card>
    </div>

  </div>
</template>

<script>
    import Swal from "sweetalert2"
    import OlderPassportForm from "@/pages/Dashboard/Passport/PassportForm/OlderPassportForm";
    import {OlderPassport} from "@/models/services/OlderPassport";

    export default {
        name: "Passport",
        components: {
            OlderPassportForm
        },
        data: () => {
            return {
                passport: null,
            }
        },
        created: function () {
            this.axiosInterceptor();
        },
        methods: {
          onSubmit: function (data, isValid) {
              this.passport = null;
              if ( isValid ) {
                (new OlderPassport({})).index({params: {query: data}})
                  .then((response) => {
                    this.passport = response.data;
                  })
                  .catch((error) => {
                    this.$notify({
                      message: error.message || this.unexpected,
                      icon: "add_alert",
                      horizontalAlign: 'top',
                      verticalAlign: 'center',
                      type: 'danger'
                    });
                  })
              }
          },
          onEdit: function () {
              this.$router.push({name: 'Passport Edit', params: {item: this.passport, id: this.passport.id}})
          },
          onPrint: function () {
              this.$router.push( { name: 'Print', params: { item: this.passport }} );
          },
          onDelete: function () {
              let that = this;
              let passport = this.passport;
              Swal.fire({
                title: that.$t('Passport Delete'),
                text: that.$t('Confirm Delete', { passport: passport.id }),
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "md-button md-success",
                cancelButtonClass: "md-button md-danger",
                confirmButtonText: that.$t('Yes'),
                cancelButtonText: that.$t('Cancel'),
                buttonsStyling: false
              }).then(result => {
                if (result.value) {
                  (new OlderPassport({})).destroy( passport.id )
                    .then((response) => {
                      Swal.fire({
                        title: that.$t('Deleted'),
                        text: response.data,
                        type: "success",
                        confirmButtonClass: "md-button md-success",
                        buttonsStyling: false
                      });
                    })
                    .catch((error) => {
                      that.$notify({
                        message: error.message || that.unexpected,
                        icon: "add_alert",
                        horizontalAlign: 'top',
                        verticalAlign: 'center',
                        type: 'danger'
                      });
                    })
                }
              });

            }
        },
    };
</script>

<style scoped></style>
