<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <div class="card-icon">
            <md-icon>description</md-icon>
          </div>
          <h4 class="title">{{ $t('Own Report') }}</h4>
        </md-card-header>
        <md-card-content>
          <div class="md-layout-item md-small-size-100 md-xsmall-size-100 md-medium-size-100 md-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item">
                <md-input type="date"  :data-vv-name="$t('start date')"
                                :class="[{'md-valid': !errors.has( $t('start date') ) && touched.start_date }, {'md-error': errors.has( $t('start date') )}]"
                                v-validate="modelValidations.date_format"
                                :md-disabled-dates="disabledDates"
                                v-model="report.start_date" md-immediately required>
                  <label>{{ $t('start date').capitalize() }}</label>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('start date') ) && touched.start_date">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('start date') ) && touched.start_date">done</md-icon>
                  </slide-y-down-transition>
                </md-input>
              </div>
              <div class="md-layout-item">
                <md-input type="date"  :data-vv-name="$t('end date')"
                                :class="[{'md-valid': !errors.has( $t('end date') ) && touched.end_date }, {'md-error': errors.has( $t('end date') )}]"
                                v-validate="modelValidations.date_format"
                                :md-disabled-dates="endDateDisabeld"
                                v-model="report.end_date" md-immediately required>
                  <label>{{ $t('end date').capitalize() }}</label>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('end date') ) && touched.end_date">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('end date') ) && touched.end_date">done</md-icon>
                  </slide-y-down-transition>
                </md-input>
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <form :action="api.END_POINTS.OWN_REPORT()" method="POST" target="_blank" >
            <input type="hidden" name="_token" :value="token.content">
            <input type="hidden" name="start_date" :value="start_date">
            <input type="hidden" name="end_date" :value="end_date">
            <md-button type="submit" class="md-info">
              <md-icon>print</md-icon>
              {{ $t("Report") }}
            </md-button>
          </form>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script>
  import moment from "moment"
  import {Api} from "@/models/Api";
  import { SlideYDownTransition } from "vue2-transitions";
  import {Report} from "@/models/services/Report";
    export default {
        name: "OwnReportPassport",
        components: {
          SlideYDownTransition,
        },
        data: () => {
            return {
              token: document.head.querySelector('meta[name="csrf-token"]'),
              api: Api,
              report: new Report({
                start_date: null,
                end_date: null
              }),
              start_date: null,
              end_date: null,
              touched: {
                start_date: false,
                end_date: false,
              },
              modelValidations: {
                date_format: {
                  required: true,
                  date_format: 'yyyy-MM-dd'
                }
              },
            }
        },
      methods: {
        disabledDates: function(date) {
          return moment(date) < moment().startOf('year')
        },
        endDateDisabeld: function(date) {
          let start = this.report.start_date ? this.report.start_date : moment();
          return moment( date ) < moment( start )
        }
      },
      watch: {
          'report.start_date': function ( date ) {
            this.start_date = moment(date).isValid() ? moment(date).format('YYYY-MM-DD') : null;
            this.touched.start_date = true;
          },
          'report.end_date': function ( date ) {
            this.end_date = moment(date).isValid() ? moment(date).format('YYYY-MM-DD') : null;
            this.touched.end_date = true;
          },
      }
    };
</script>

<style scoped></style>
