<template>
  <div class="md-layout">
    <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">{{ $tc('Passport', 2) }}</h4>
        </md-card-header>
        <md-card-content>
          <div class="md-layout" >
            <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
              <md-field>
                <md-input type="search" clearable :placeholder="$t('Search')" v-model="query">
                </md-input>
              </md-field>
            </div>
          </div>

          <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="passports" :expand="expand" item-key="id"
                        :loading="loading" :pagination.sync="pagination" :total-items="total" :rows-per-page-text="$t('Per Page')">

            <template v-slot:progress >
              <md-progress-bar md-mode="indeterminate"></md-progress-bar>
            </template>

            <template v-slot:pageText="props">
              {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
            </template>

            <template v-slot:no-data>
              <md-empty-state
                md-icon="assignment_ind"
                :md-label="$t('empty').capitalize()"
                :md-description="$t('no passport')">
                <drop-down direction="up">
                  <md-button slot="title" class="md-button md-success md-round md-block dropdown-toggle" data-toggle="dropdown">
                    {{ $t('Search Tools') }}
                  </md-button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:;" @click.prevent="onFindOlder">{{ $t('Find Older Passports') }}</a></li>
                    <li><a href="javascript:;" @click.prevent="onCreate">{{ $t('Create Passport') }}</a></li>
                  </ul>
                </drop-down>
              </md-empty-state>
            </template>

            <template v-slot:items="item">
              <tr @click="item.expanded = !item.expanded">
                <td>
                  <md-button v-if="$auth.can('create_or_edit_passport')" class="md-just-icon md-warning md-simple" @click.native="onEdit(item.item)">
                    <md-icon>create</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Passport Edit') }} {{ item.item.id  }}</md-tooltip>
                  </md-button>
                  <md-button v-if="$auth.can('delete_passport')" class="md-just-icon md-danger md-simple" @click.native="onDelete(item.item)">
                    <md-icon>delete</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Passport Delete') }} {{ item.item.id  }}</md-tooltip>
                  </md-button>
                  <md-button v-if="$auth.can('print_passport')" class="md-just-icon md-success md-simple" @click.native="onPrint(item.item)">
                    <md-icon>print</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Print') }}</md-tooltip>
                  </md-button>
                </td>
                <td>{{ item.item.id }}</td>
                <td class="is-right">{{ item.item.document_type_name }}</td>
                <td class="is-right">{{ item.item.document }}</td>
                <td class="is-right">{{ item.item.supercade_name }}</td>
                <td class="is-right">{{ item.item.full_name }}</td>
                <td class="is-right">{{ item.item.location_name }}</td>
                <td class="is-right">{{ item.item.stratum }}</td>
              </tr>
            </template>

            <template v-slot:expand="item">
              <v-card flat>
                <div style="padding: 24px;" >
                  <table class="mu-table-body" style="width:100%">
                    <tr>
                      <th width="150">{{ $t('retired').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.retired }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('gender').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.gender_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('birthdate').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.birthday }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('country').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.country_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('city').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.city_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('address').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.address }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('phone').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.phone }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('mobile').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.mobile }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('hobbies').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.hobbies_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('eps').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.eps_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('observations').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.observation }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('Question').capitalize() }} 1:</th>
                      <td class="is-left">{{ item.item.question_1 }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('Question').capitalize() }} 2:</th>
                      <td class="is-left">{{ item.item.question_2 }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('Question').capitalize() }} 3:</th>
                      <td class="is-left">{{ item.item.question_3 }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('Question').capitalize() }} 4:</th>
                      <td class="is-left">{{ item.item.question_4 }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('renew').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.renew }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('Official').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.user_cade_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('created_at').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.created_at }}</td>
                    </tr>
                  </table>
                </div>
              </v-card>
            </template>

          </v-data-table>

        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
  import Swal from "sweetalert2";
  import {Passport} from "@/models/services/Passport";
  export default {
    name: "PassportTable",
    data: () => {
        return {
          total: 0,
          pagination: {},
          expand: false,
          passports: [],
          loading: true,
          query: null,
        }
    },
    created: function () {
      this.getPassports()
    },
    methods: {
      getPassports: _.debounce( function (  ) {
        const { sortBy, descending, page, rowsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new Passport({})).index({ params: { per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page } })
                .then( (response) => {
                  this.passports = response.data.data;
                  this.total = response.data.total;
                  this.loading = false;
                })
                .catch((error) => {
                  this.$notify({
                    message: error.message || this.unexpected,
                    icon: "add_alert",
                    horizontalAlign: 'top',
                    verticalAlign: 'center',
                    type: 'danger'
                  });
                })
      }, 300),
      onEdit: function (item) {
        this.$router.push( { name: 'Passport Edit', params: { item: item, id: item.id }} );
      },
      onPrint: function (item) {
        this.$router.push( { name: 'Print', params: { item: item }} );
      },
      onCreate: function () {
        this.$router.push( { name: 'Create Passport'} )
      },
      onFindOlder: function () {
        this.$router.push( { name: 'Older Passport'} )
      },
      onDelete: function (item) {
        let that = this;
        Swal.fire({
          title: that.$t('Passport Delete'),
          text: that.$t('Confirm Delete', { passport: item.id }),
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "md-button md-success",
          cancelButtonClass: "md-button md-danger",
          confirmButtonText: that.$t('Yes'),
          cancelButtonText: that.$t('Cancel'),
          buttonsStyling: false
        }).then(result => {
          if (result.value) {
            (new Passport({})).destroy( item.id )
              .then((response) => {
                Swal.fire({
                  title: that.$t('Deleted'),
                  text: response.data,
                  type: "success",
                  confirmButtonClass: "md-button md-success",
                  buttonsStyling: false
                });
              })
              .catch((error) => {
                that.$notify({
                  message: error.message || that.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'top',
                  verticalAlign: 'center',
                  type: 'danger'
                });
              })
          }
        });

      }
    },
    computed: {
      columns: function () {
        return [
          { text: this.$t('actions').capitalize(), width: '100', sortable: false },
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('document type').capitalize(), value: 'document_type_name', width: '126', align: 'center', sortable: true },
          { text: this.$t('document').capitalize(), value: 'document', width: '126', align: 'center', sortable: true },
          { text: this.$t('supercade').capitalize(), value: 'supercade_name', width: '200', align: 'center', sortable: true },
          { text: this.$t('full name').capitalize(), value: 'full_name', width: '300', align: 'center', sortable: true },
          { text: this.$t('location').capitalize(), value: 'location_name', width: '150', align: 'center', sortable: true },
          { text: this.$t('stratum').capitalize(), value: 'stratum', width: '100', align: 'center', sortable: true },
        ];
      },
    },
    watch: {
      query: function () {
        this.getPassports();
      },
      pagination: {
          handler () {
              this.getPassports();
          },
          deep: true
      }
    },
  }
</script>

<style scoped>

</style>