<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <passport-form @on-submit="onSubmit"></passport-form>
    </div>
  </div>
</template>

<script>
import PassportForm from "@/pages/Dashboard/Passport/PassportForm/PassportForm";
export default {
  name: "Passport",
  components: {
    PassportForm
  },
  data: () => {
    return {
      passport: {}
    };
  },
  methods: {
    onSubmit: function(data) {
      this.passport = data;
    }
  }
};
</script>

<style scoped></style>
