<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <passport-edit-form :pass="passport" @on-submit="onSubmit"></passport-edit-form>
    </div>
  </div>
</template>

<script>
import PassportEditForm from "@/pages/Dashboard/Passport/PassportForm/PassportEditForm";
import {Passport} from "@/models/services/Passport";
export default {
  name: "PassportEdit",
  components: {
    PassportEditForm,
  },
  data: () => {
    return {
      passport: {}
    };
  },
  created: function () {
    if ( this.$route.params.item !== undefined ) {
      this.passport = new Passport( this.$route.params.item );
    }
  },
  methods: {
    onSubmit: function(data) {
      this.passport = data;
    }
  }
};
</script>

<style scoped></style>
