<template>
    <div class="md-layout">
        <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
            <form @submit.prevent="validate">
                <md-card>
                    <md-card-header class="md-card-header-icon md-card-header-blue">
                        <div class="card-icon">
                            <md-icon>search</md-icon>
                        </div>
                        <h4 class="title">{{ $t('Search') }}</h4>
                    </md-card-header>
                    <md-card-content>
                        <md-field :class="[{ 'md-valid': !errors.has( $t('document or id') ) && touched.document }, { 'md-error': errors.has( $t('document or id') ) }]">
                            <md-icon>verified_user</md-icon>
                            <label for="document">{{ $t('document or id').capitalize() }}</label>
                            <md-input v-model="print.document" maxlength="10" autocomplete="off" name="document" id="document" :data-vv-name="$t('document or id')" type="text" required v-validate="print.validation.query">
                            </md-input>
                            <slide-y-down-transition>
                                <md-icon class="error" v-show="errors.has( $t('document or id') )">close</md-icon>
                            </slide-y-down-transition>
                            <slide-y-down-transition>
                                <md-icon class="success" v-show="!errors.has( $t('document or id') ) && touched.document">done</md-icon>
                            </slide-y-down-transition>
                        </md-field>

                        <md-switch v-model="old">{{ $t('Find Older Passports') }}</md-switch>

                    </md-card-content>
                    <div style="padding-top: 24px">
                        <md-card-actions>
                            <md-button native-type="submit" type="submit" :disabled="isLoading" @click.native.prevent="validate" class="md-info">{{ $t("Search") }}</md-button>
                            <md-button native-type="buttom" :disabled="isLoading" @click.native.prevent="onClear" class="md-default">{{ $t("Cancel") }}</md-button>
                        </md-card-actions>
                    </div>
                </md-card>
            </form>
        </div>

        <div class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto">
            <md-card>
                <form :action="url_print" method="POST" target="_blank">
                    <md-card-header class="md-card-header-icon md-card-header-blue">
                        <div class="card-icon">
                            <md-icon>contacts</md-icon>
                        </div>
                        <h4 class="title">{{ $tc('Passport', 1) }}</h4>
                    </md-card-header>

                    <md-card-content>
                        <div v-if="isLoading" class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50 mx-auto" style="padding-top: 24px;">
                            <h4 class="title"></h4>
                            <vcl-facebook></vcl-facebook>
                        </div>
                        <div v-if="passport" class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50 mx-auto">
                            <md-card>
                                <md-card-header class="md-card-header-text md-card-header-warning">
                                    <div class="card-text">
                                        <h4 class="title">{{ $tc('Passport', 1) }} #{{ this.passport.id }}</h4>
                                        <p class="category">{{ $t('created_at').capitalize() }} {{ this.passport.created_at }} </p>
                                    </div>
                                </md-card-header>
                                <md-card-content>
                                    <div class="md-layout">
                                        <div class="md-layout-item">
                                            <md-list class="md-double-line">
                                                <md-list-item>
                                                    <md-icon>more_horiz</md-icon>
                                                    <div class="md-list-item-text">
                                                        <span>{{ this.passport.full_name }}</span>
                                                        <span>{{ $t('full name').capitalize() }}</span>
                                                    </div>
                                                </md-list-item>
                                                <md-list-item>
                                                    <md-icon>assignment</md-icon>
                                                    <div class="md-list-item-text">
                                                        <span>{{ this.passport.document_type_name }}</span>
                                                        <span>{{ $t('document type').capitalize() }}</span>
                                                    </div>
                                                </md-list-item>
                                                <md-list-item>
                                                    <md-icon>assignment_ind</md-icon>
                                                    <div class="md-list-item-text">
                                                        <span>{{ this.passport.document }}</span>
                                                        <span>{{ $t('document').capitalize() }}</span>
                                                    </div>
                                                </md-list-item>
                                                <md-list-item>
                                                    <md-icon>business</md-icon>
                                                    <div class="md-list-item-text">
                                                        <span>{{ this.passport.supercade_name }}</span>
                                                        <span>{{ $t('supercade').capitalize() }}</span>
                                                    </div>
                                                </md-list-item>
                                                <md-list-item>
                                                    <md-icon>print</md-icon>
                                                    <div class="md-list-item-text">
                                                        <span>{{ this.passport.renew }}</span>
                                                        <span>{{ $t('renew').capitalize() }}</span>
                                                    </div>
                                                </md-list-item>
                                            </md-list>
                                        </div>
                                        <div class="md-layout-item">
                                            <md-field :class="[{ 'md-valid': !errors.has( $t('supercade') ) && touched.supercade }, { 'md-error': errors.has( $t('supercade') ) }]">
                                                <md-icon>business</md-icon>
                                                <label for="supercade">{{ $t('supercade').capitalize() }}</label>
                                                <md-select v-model.number="supercade"
                                                           :disabled="disabled_cades"
                                                           v-validate="'required'"
                                                           :data-vv-name="$t('supercade')"
                                                           required name="supercade" id="supercade">
                                                    <md-option v-for="cade in cades" :key="cade.id" :value="cade.id">{{ cade.text }}</md-option>
                                                </md-select>
                                            </md-field>
                                            <md-field v-if="passport.renew > 0" :class="[{ 'md-valid': !errors.has( $t('denounce') ) && touched.denounce }, { 'md-error': errors.has( $t('denounce') ) }]">
                                                <md-icon>verified_user</md-icon>
                                                <label for="denounce">{{ $t('denounce').capitalize() }}</label>
                                                <md-input v-model="denounce" maxlength="20" autocomplete="off" name="denounce" id="denounce" :data-vv-name="$t('denounce')" type="text" :required="change" :readonly="!change" v-validate="validation.denounce">
                                                </md-input>
                                                <slide-y-down-transition>
                                                    <md-icon class="error" v-show="errors.has( $t('denounce') )">close</md-icon>
                                                </slide-y-down-transition>
                                                <slide-y-down-transition>
                                                    <md-icon class="success" v-show="!errors.has( $t('denounce') ) && touched.denounce">done</md-icon>
                                                </slide-y-down-transition>
                                            </md-field>
                                            <md-switch v-if="passport.renew > 0" v-model="change">{{ $t( text ).capitalize() }}</md-switch>
                                            <input type="hidden" name="_token" :value="token.content">
                                            <input type="hidden" name="passport" :value="passport.id">
                                            <input type="hidden" name="user_id" :value="passport.user">
                                            <input type="hidden" name="supercade_id" :value="supercade">
                                            <input type="hidden" name="document_type" :value="passport.document_type_name">
                                            <input type="hidden" name="document" :value="passport.document">
                                            <input type="hidden" name="name" :value="passport.print_name || passport.full_name">
                                            <md-button type="submit" :disabled="isLoading" class="md-info">
                                                <md-icon>print</md-icon>
                                                {{ $t("Print") }}
                                            </md-button>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-card-content>
                </form>
            </md-card>
        </div>

    </div>
</template>

<script>
    import {Api} from "@/models/Api";
    import { SlideYDownTransition } from "vue2-transitions";
    import {Passport} from "@/models/services/Passport";
    import {OlderPassport} from "@/models/services/OlderPassport";
    import {Print} from "@/models/services/Print";
    import {SuperCade} from "@/models/services/SuperCade";

    export default {
        name: "Print",
        components: {
            SlideYDownTransition
        },
        data: () => {
            return {
                url_print: Api.END_POINTS.PRINT_PASSPORT(),
                token: document.head.querySelector('meta[name="csrf-token"]'),
                text: 'is denounce',
                passport: null,
                supercade: null,
                change: false,
                denounce: null,
                old: false,
                print: new Print({
                    document: null,
                }),
                cades: [],
                disabled_cades: true,
                touched: {
                    document: false,
                    denounce: false,
                    supercade: false,
                },
                validation: {
                    denounce: {
                        required: false,
                        min: 3,
                        max: 20
                    }
                }
            }
        },
        created: function() {
            this.axiosInterceptor();
            if ( this.$route.params.item !== undefined ) {
                this.passport = this.$route.params.item;
            }

            if (this.$route.params.id !== undefined) {
                this.getPassport( this.$route.params.id );
            }

            this.getCades();
        },
        methods: {
            validate() {
                this.$validator.validateAll().then(isValid => {
                    this.$emit("on-submit", this.print, isValid);
                    if ( isValid ) {
                        if ( this.old ) {
                            this.getOlderPassport( this.print.document );
                        } else {
                            this.getPassport( this.print.document );
                        }
                    }
                });
            },
            getPassport: _.debounce(function (query) {
                this.passport = null;
                (new Passport({})).show( query )
                    .then( (response) => {
                        this.passport = response.data;
                    })
                  .catch((error) => {
                      this.$notify({
                          message: error.message || this.unexpected,
                          icon: "add_alert",
                          horizontalAlign: 'top',
                          verticalAlign: 'center',
                          type: 'danger'
                      });
                  })
            }, 300),
            getOlderPassport: _.debounce(function (query) {
                this.passport = null;
                ( new  OlderPassport({}) ).index({ params: { query: query } })
                    .then( (response) => {
                        this.passport = response.data;
                    })
                  .catch((error) => {
                      this.$notify({
                          message: error.message || this.unexpected,
                          icon: "add_alert",
                          horizontalAlign: 'top',
                          verticalAlign: 'center',
                          type: 'danger'
                      });
                  })
            }, 300),
            getCades: function () {
                this.disabled_cades = true;
               if( !this.$store.getters.getStoreCades ) {
                   this.$store.dispatch('reset_supercade')
                       .then(() => {
                           (new SuperCade({})).index()
                               .then((response) => {
                                   this.$store.dispatch('set_supercade', response)
                                       .then(() => {
                                           this.cades = response.data.map( document => {
                                               return {
                                                   id: document.id,
                                                   text: `${document.name}`,
                                                   all: document
                                               }
                                           });
                                           this.disabled_cades = false;
                                       })
                               })
                               .catch((error) => {
                                   this.$notify({
                                       message: error.message || this.unexpected,
                                       icon: "add_alert",
                                       horizontalAlign: 'top',
                                       verticalAlign: 'center',
                                       type: 'danger'
                                   });
                               })
                       })
               } else {
                   this.cades = this.$store.getters.getStoreCades;
                   this.disabled_cades = false;
               }

            },
            onClear: function () {
                this.passport= null;
                  this.supercade= null;
                  this.change= false;
                  this.denounce= null;
                  this.old= false;
                  this.print.document = null;
            }
        },
        watch: {
            'touched.document': function () {
                this.touched.document = true;
            },
            change: function (value) {
                if ( value ) {
                    this.text = 'is renew';
                } else {
                    this.text = 'is denounce';
                    this.denounce = null;
                }
            }
        }
    }
</script>

<style scoped>

</style>