<template>
  <div
    class="wrapper"
    :class="[
      { 'nav-open': $sidebar.showSidebar },
      { rtl: $route.meta.rtlActive }
    ]"
  >
    <notifications></notifications>
    <side-bar
      :title:="$t('title')"
      :active-color="sidebarBackground"
      :background-image="sidebarBackgroundImage"
      :data-background-color="sidebarBackgroundColor"
    >
      <user-menu></user-menu>
      <mobile-menu></mobile-menu>
      <template slot="links">
        <sidebar-item :link="{name: $t('Dashboard'), icon: 'dashboard', path: '/dashboard'}"></sidebar-item>
        <sidebar-item v-if="$auth.can(['create_or_edit_passport', 'view_passports'])" :link="{ name: $tc('Passport', 1), icon: 'content_paste' }">
          <sidebar-item v-if="$auth.can('view_passports')" :link="{name: $tc('Passport', 2),path: '/passport/table'}"></sidebar-item>
          <sidebar-item v-if="$auth.can('create_or_edit_passport')" :link="{name: $t('Create Passport'),path: '/passport/create'}"></sidebar-item>
          <sidebar-item v-if="$auth.can('create_or_edit_passport')" :link="{name: $t('Older Passport'),path: '/passport/older'}"></sidebar-item>
        </sidebar-item>
        <sidebar-item v-if="$auth.can('print_passport')" :link="{name: $t('Print'), icon: 'print', path: '/passport/print'}"></sidebar-item>
        <sidebar-item v-if="$auth.can(['create_general_report', 'create_renew_report', 'create_own_report'])" :link="{ name: $t('Reports'), icon: 'description' }">
          <sidebar-item v-if="$auth.can('create_general_report')" :link="{name: $t('General Report'), icon: 'description', path: '/passport/report/general'}"></sidebar-item>
          <sidebar-item v-if="$auth.can('create_own_report')" :link="{name: $t('Own Report'), icon: 'person', path: '/passport/report/own'}"></sidebar-item>
          <sidebar-item v-if="$auth.can('create_renew_report')" :link="{name: $t('Renew Report'), icon: 'refresh', path: '/passport/report/renew'}"></sidebar-item>
        </sidebar-item>
        <sidebar-item  v-if="$auth.can(['create_agreement', 'view_agreement', 'agreement_report'])" :link="{ name: $t('Agreements'), icon: 'question_answer' }">
          <sidebar-item v-if="$auth.can('create_agreement')"  :link="{name: $t('Create Agreements'), icon: 'receipt', path: '/passport/agreements/create'}"></sidebar-item>
          <sidebar-item v-if="$auth.can('view_agreement')"  :link="{name: $t('Agreements'), icon: 'speaker_notes', path: '/passport/agreements'}"></sidebar-item>
          <sidebar-item v-if="$auth.can('agreement_report')"  :link="{name: $t('Agreements Report'), icon: 'description', path: '/passport/agreements/report'}"></sidebar-item>
        </sidebar-item>
      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <fixed-plugin
        :color.sync="sidebarBackground"
        :isRTL.sync="isRTL"
        :colorBg.sync="sidebarBackgroundColor"
        :sidebarMini.sync="sidebarMini"
        :sidebarImg.sync="sidebarImg"
        :image.sync="sidebarBackgroundImage"
        v-on:update:color="onColor"
        v-on:update:colorBg="onColorBg"
        v-on:update:sidebarMini="onSidebarMini"
        v-on:update:sidebarImg="onSidebarImg"
        v-on:update:image="onImage"
        v-on:update:isRTL="onRTL"
      >
      </fixed-plugin>

      <div :class="{ content: !$route.meta.hideContent }" @click="toggleSidebar">
        <zoom-center-transition :duration="200" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </zoom-center-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`);
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className);
    }, 100);
  }
}

import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import MobileMenu from "./Extra/MobileMenu.vue";
import FixedPlugin from "../../FixedPlugin.vue";
import UserMenu from "./Extra/UserMenu.vue";
import { ZoomCenterTransition } from "vue2-transitions";

export default {
  components: {
    TopNavbar,
    ContentFooter,
    FixedPlugin,
    MobileMenu,
    UserMenu,
    ZoomCenterTransition
  },
  data() {
    return {
      isRTL: false,
      sidebarBackgroundColor: "black",
      sidebarBackground: "purple",
      sidebarBackgroundImage: document.body.classList.contains("sidebar-image")
        ? `${process.env.MIX_IDRD_URL}/public/img/sidebar-2.jpg`
        : "",
      sidebarMini: document.body.classList.contains("sidebar-mini"),
      sidebarImg: document.body.classList.contains("sidebar-image")
    };
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    minimizeSidebar() {
      if (this.$sidebar) {
        this.$sidebar.toggleMinimize();
      }
    },
    onColor: function(val) {
      this.$store.dispatch('set_accent', val)
        .then(() => {
          this.sidebarBackground = val;
        })
    },
    onColorBg: function(val) {
      this.$store.dispatch('set_background_color', val)
        .then(() => {
          this.sidebarBackgroundColor = val;
        })
    },
    onSidebarMini: function(val) {
      this.$store.dispatch('set_mini', val)
        .then(() => {
          this.sidebarMini = val;
        })
    },
    onSidebarImg: function(val) {
      this.$store.dispatch('set_image', val)
        .then(() => {
          this.sidebarImg = val;
        })
    },
    onImage: function(val) {
      this.$store.dispatch('set_background_image', val)
        .then(() => {
          this.sidebarBackgroundImage = val;
        })
    },
    onRTL: function(val) {
      this.$store.dispatch('set_rtl', val)
        .then(() => {
          this.isRTL = val;
        })
    },
  },
  created: function () {
    if ( this.$store.getters.getAccent ) {
      this.sidebarBackground = this.$store.getters.getAccent;
    }
    if ( this.$store.getters.getBackgroundColor ) {
      this.sidebarBackgroundColor = this.$store.getters.getBackgroundColor;
    }
    if ( this.$store.getters.getMini ) {
      this.sidebarMini = this.$store.getters.getMini;
    }

    this.isRTL = this.$store.getters.getIsRTL;
    this.sidebarImg = this.$store.getters.getImageStatus;

    if ( this.$store.getters.getBackgroundImage ) {
      this.sidebarColors = document.body.classList.contains("sidebar-image") ? this.$store.getters.getBackgroundImage : null;
    }
  },
  mounted() {
    let docClasses = document.body.classList;
    let isWindows = navigator.platform.startsWith("Win");
    if (isWindows) {
      // if we are on windows OS we activate the perfectScrollbar function
      initScrollbar("sidebar");
      initScrollbar("sidebar-wrapper");
      initScrollbar("main-panel");

      docClasses.add("perfect-scrollbar-on");
    } else {
      docClasses.add("perfect-scrollbar-off");
    }
  },
  watch: {
    sidebarMini() {
      this.minimizeSidebar();
    }
  }
};
</script>
<style lang="scss">
$scaleSize: 0.95;
@keyframes zoomIn95 {
  from {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
  to {
    opacity: 1;
  }
}
.main-panel .zoomIn {
  animation-name: zoomIn95;
}
@keyframes zoomOut95 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
}
.main-panel .zoomOut {
  animation-name: zoomOut95;
}
</style>
